Repository PrestaShop/autoupgrade, pull requests merged in 2021-09, with the labels that each got.

#399 Wrong upgrade scripts path for PHP executions
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/ModuleAdapter.php
  upgrade/sql/1.7.7.2.sql
  upgrade/sql/1.7.7.6.sql
  upgrade/sql/1.7.8.0.sql
Labels: waiting for QA

#411 Display the current PHP version
  classes/Twig/Block/UpgradeButtonBlock.php
  views/templates/block/upgradeButtonBlock.twig
Labels: QA ✔️

#414 Upgrade prestashop_test_lib version to 0.0.14
  tests/e2e/package-lock.json
  tests/e2e/package.json
Labels: dependencies

#413 Fix bad display and uppercase to respect the project
  css/styles.css
  views/templates/block/upgradeButtonBlock.twig
Labels: QA ✔️
