Repository PrestaShop/autoupgrade, pull requests merged in 2022-03, with the labels that each got.

#421 Check if override is disabled before update
  AdminSelfUpgrade.php
  classes/Twig/Form/FormRenderer.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  css/styles.css
Labels: QA ✔️, Must-have

#445 Check the maintenance mode activation
  classes/UpgradeSelfCheck.php
  views/templates/block/checklist.twig
Labels: QA ✔️, Must-have

#450 Disabled upgrades of modules if the installed version is higher than this proposed by Addons
  classes/Parameters/UpgradeFileNames.php
  classes/State.php
  classes/TaskRunner/Upgrade/UpgradeModules.php
  classes/UpgradeTools/FileFilter.php
  classes/UpgradeTools/FilesystemAdapter.php
  classes/UpgradeTools/ModuleAdapter.php
  tests/unit/Cookie/CookieTest.php
  tests/unit/ErrorHandlerTest.php
  tests/unit/Log/LegacyLoggerTest.php
  tests/unit/Log/StreamedLoggerTest.php
  tests/unit/Parameters/UpgradeConfigurationStorageTest.php
  tests/unit/PrestashopConfiguration/PrestaShopConfigurationTest.php
  tests/unit/StateTest.php
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
  tests/unit/UpgradeContainerTest.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgrader17Test.php
  tests/unit/UpgradeTools/SettingsFileWriterTest.php
  tests/unit/UpgradeTools/Translator/TranslatorTest.php
  tests/unit/ZipActionTest.php
Labels: QA ✔️, new feature, Must-have

#472 Handle PrestaShop versions before 1.7.5.1 + CI fix
  classes/UpgradeSelfCheck.php
  tests/e2e/scenarios/02_upgrade.js
Labels: QA ✔️
