Repository PrestaShop/autoupgrade, pull requests merged in 2022-01, with the labels that each got.

#444 Add build release
  .github/workflows/build-release.yml
Labels: enhancement

#447 Remove Referrer (and associated) table
  upgrade/sql/8.0.0.sql
Labels: enhancement

#448 Add rtl files generation
  AdminSelfUpgrade.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/ModuleAdapter.php
  classes/UpgradeTools/ThemeAdapter.php
  tests/phpstan/phpstan.neon
Labels: QA ✔️, new feature, waiting for wording

#452 Bump version 4.14.0
  autoupgrade.php
  config.xml
Labels: enhancement

#436 Add logs email receivers in configuration table
  upgrade/sql/1.7.8.3.sql
Labels: QA ✔️
