Repository PrestaShop/autoupgrade, pull requests merged in 2023-11, with the labels that each got.

#639 Change the APE field validation to match all formats
  upgrade/sql/8.1.3.sql
Labels: QA ✔️

#646 Minimal_quantity should be 1 at least, not 0!
  upgrade/sql/8.1.3.sql
Labels: QA ✔️

#643 Show which file was trying to be closed when error on close
  classes/ZipAction.php
Labels: QA ✔️

#653 Remove tab link
  autoupgrade.php
  js/upgrade.js
  views/templates/block/upgradeButtonBlock.twig
Labels: waiting for QA

#652 Fix some files not being deleted
  classes/TaskRunner/Miscellaneous/CompareReleases.php
  classes/TaskRunner/Upgrade/UpgradeFiles.php
Labels: waiting for author

#649 Upgrade github actions to v3
  .github/workflows/e2e_nightly_upgrade.yml
  .github/workflows/nightly_upgrade.yml
  .github/workflows/php.yml
  .github/workflows/upgrade.yml
Labels: QA ✔️

#656 Normalize NULL data in database
  upgrade/php/update_null_values.php
  upgrade/sql/8.1.3.sql
Labels: waiting for QA

#655 Fill sessions with data after adding the column
  upgrade/sql/8.0.0.sql
Labels: waiting for QA, waiting for author

#654 Remove usage of unused code
  AdminSelfUpgrade.php
  ajax-upgradetabconfig.php
  classes/Tools14.php
  functions.php
  tests/phpstan/bootstrap.php
  tests/phpstan/phpstan-1.6.1.18.neon
  tests/phpstan/phpstan.neon
Labels: QA ✔️
