Repository PrestaShop/autoupgrade, pull requests merged in 2023-09, with the labels that each got.

#618 Fix for #33634 - Prevent overrides being wiped during upgrade to PS8
  classes/UpgradeTools/FileFilter.php
Labels: QA ✔️

#619 Fix tab wordings
  upgrade/sql/8.1.2.sql
Labels: QA ✔️

#622 Release 4.16.3
  autoupgrade.php
  classes/TaskRunner/Upgrade/UpgradeModules.php
  classes/UpgradeTools/FileFilter.php
  classes/UpgradeTools/ModuleAdapter.php
  config.xml
  js/upgrade.js
  upgrade/php/ps_1770_update_charset.php
  upgrade/sql/1.7.1.0.sql
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/8.1.2.sql
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#626 Disable 'verify if module is latest' for shops under 1.7.0.0 for 4.14.x and bump version to 4.14.3
  .github/workflows/php.yml
  autoupgrade.php
  classes/UpgradeSelfCheck.php
  classes/Upgrader.php
  config.xml
Labels: QA ✔️

#628 Add 2 new hooks for 8.1.2
  upgrade/sql/8.1.2.sql
Labels: waiting for QA, waiting for dev

#624 Do not check version if not provided
  classes/UpgradeSelfCheck.php
Labels: QA ✔️

#633 Release 4.16.4
  README.md
  autoupgrade.php
  classes/UpgradeSelfCheck.php
  config.xml
  upgrade/sql/8.1.2.sql
Labels: QA ✔️

#631 Fix upgrade inconsistencies
  upgrade/php/drop_column_if_exists.php
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/1.7.8.0.sql
  upgrade/sql/8.0.0.sql
  upgrade/sql/8.1.0.sql
  upgrade/sql/8.1.2.sql
Labels: QA ✔️

#635 Bump version to 4.16.5
  autoupgrade.php
  config.xml
Labels: waiting for QA
