Repository PrestaShop/autoupgrade, pull requests merged in 2023-07, with the labels that each got.

#594 Add type in feature_flag table
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#595 Add id_employee in order_payment table
  upgrade/sql/8.1.0.sql
Labels: QA ✔️

#597 Release 4.16.1
  autoupgrade.php
  classes/UpgradeTools/ModuleAdapter.php
  config.xml
  tests/e2e/package-lock.json
  tests/phpstan/phpstan-1.6.1.18.neon
  tests/phpstan/phpstan-1.7.2.5.neon
  tests/phpstan/phpstan-1.7.3.4.neon
  tests/phpstan/phpstan-1.7.4.4.neon
  upgrade/sql/8.1.0.sql
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#442 Fix line not compatible with PHP < 7
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  upgrade/php/migrate_tabs_17.php
Labels: waiting for QA, waiting for dev, Blocked

#602 Move script to proper location
  upgrade/sql/8.1.0.sql
  upgrade/sql/9.0.0.sql
Labels: waiting for QA, waiting for dev

#603 Add upgrade helptext
  classes/UpgradePage.php
Labels: waiting for QA, PM ✔️

#606 Clean opcache when cleaning cache
  classes/TaskRunner/Upgrade/UpgradeDb.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
Labels: QA ✔️
