Repository PrestaShop/autoupgrade, pull requests merged in 2023-08, with the labels that each got.

#601 Fix product redirect_type
  upgrade/php/ps_811_update_redirect_type.php
  upgrade/sql/8.1.0.sql
  upgrade/sql/8.1.1.sql
Labels: QA ✔️

#607 Add more info to autoupgrade process
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader81.php
Labels: waiting for QA

#608 Avoid deleting a popular payment module "stripejs"
  classes/TaskRunner/Upgrade/UpgradeModules.php
Labels: waiting for QA

#546 Upgrade module from local source
  classes/UpgradeTools/ModuleAdapter.php
Labels: QA ✔️, need documentation

#613 Update version regex in JavaScript
  js/upgrade.js
Labels: QA ✔️

#614 Add presenter hooks
  upgrade/sql/9.0.0.sql
Labels: QA ✔️
