Repository PrestaShop/autoupgrade, pull requests merged in 2023-12, with the labels that each got.

#657 Fix getPrestaShopVersion on 8.1
  classes/PrestashopConfiguration.php
Labels: QA ✔️

#658 Bump version number to 5.0.0
  autoupgrade.php
  config.xml
Labels: waiting for QA

#623 Fix infinite loop after upgrade with local module zip
  classes/UpgradeTools/ModuleAdapter.php
Labels: QA ✔️

#560 Add index to `PREFIX_orders.invoice_date`
  upgrade/sql/9.0.0.sql
Labels: waiting for author

#660 Add debug cookie default configuration values
  upgrade/sql/9.0.0.sql
Labels: waiting for QA
