Repository PrestaShop/autoupgrade, pull requests merged in 2024-07, with the labels that each got.

#737 UI tests - Fix minor channel to upgrade from 8.0
  .github/workflows/ui-test.yml
Labels: QA ✔️

#736 Fix minor channel on PS 8 and above
  classes/ChannelInfo.php
  classes/TaskRunner/Miscellaneous/CompareReleases.php
  classes/TaskRunner/Upgrade/Download.php
  classes/TaskRunner/Upgrade/UpgradeNow.php
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  classes/VersionUtils.php
  tests/unit/VersionUtilsTest.php
Labels: bug, QA ✔️

#751 UI tests - Add matrice of 1.7.8.0 ~ 1.7.8.10 to 1.7.8.11 (minor) on PHP 7.2 ~ 7.4
  .github/workflows/ui-test.yml
  tests/UI/campaigns/shopVersion/01_CheckVersion.spec.ts
  tests/UI/campaigns/shopVersion/02_checkVersionInDatabase.spec.ts
  tests/UI/package-lock.json
Labels: QA ✔️

#733 Fix undefined method 'addPath' in TwigLoader
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#756 Add Data transparency link in footer
  views/templates/block/footer.twig
  views/templates/main.twig
Labels: QA ✔️

#703 Add "Report Errors" option when upgrade failed
  js/sentry-8.2.1.min.js
  js/sentry.js
  views/templates/block/activityLog.twig
  views/templates/main.twig
Labels: QA ✔️, new feature

#769 UI tests - Add nightly report
  .github/workflows/ui-test.yml
Labels: QA ✔️

#731 Fix 8.1.0 sql
  upgrade/sql/8.1.0.sql
  upgrade/sql/8.1.1.sql
Labels: QA ✔️

#764 fix: translator to match to xlf format files
  classes/UpgradeTools/Translator.php
Labels: bug, QA ✔️

#771 Nightly : Use different matrix between sanity & nightly/merge
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
Labels: enhancement

#775 Nightly : Fixed quote & Github Action dependency
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️

#781 Nightly: Fixed name of the artifact
  .github/workflows/ui-test.yml
Labels: bug, QA ✔️

#772 Fix: extractor translation
  .github/workflows/extract-translations.yml
  views/templates/block/activityLog.twig
Labels: wip

#789 Avoid UI tests to be run 2 times on local branches with PRs
  .github/workflows/ui-test.yml
Labels: enhancement, QA ✔️

#752 Return exit code on unhandled exceptions, and allow process to go on when upgrading a module fails
  classes/ErrorHandler.php
  classes/Exceptions/UpgradeException.php
  classes/Task/Upgrade/UpgradeModules.php
  classes/UpgradeTools/ModuleAdapter.php
  cli-rollback.php
  cli-upgrade.php
  tests/unit/ErrorHandlerTest.php
Labels: bug, waiting for QA, QA ✔️

#796 UI tests - Update actions checkout version to V4
  .github/workflows/ui-test.yml
Labels: QA ✔️

#768 Move menu entry in back-office sidebar
  autoupgrade.php
  upgrade/install-6.0.0.php
Labels: enhancement, QA ✔️

#800 Nightly : Fixed path of the file (for the version in Backend)
  .github/workflows/ui-test.yml
Labels: bug

#805 UI tests - Fix the nightly
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️

#804 Add SQL from "Remove doctrine command from install process" PR in CORE
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#812 fix: remove unnecessary check before deleting files
  classes/Task/Upgrade/UpgradeFiles.php
Labels: bug, QA ✔️

#819 Add draft filter in actions
  .github/workflows/ui-test.yml
  .github/workflows/upgrade.yml
Labels: QA ✔️

#816 Make sure only the errors by merchants are sent to Sentry to avoid noise from the rest happening on the BO
  classes/UpgradePage.php
  js/sentry.js
Labels: QA ✔️
