Repository PrestaShop/autoupgrade, pull requests merged in 2024-10, with the labels that each got.

#928 UI tests : Add rollback
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️

#917 [NEW UI] Start TS
  _dev/global.d.ts
  _dev/package.json
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/api/baseApi.ts
  _dev/src/ts/autoUpgrade.ts
  _dev/src/ts/main.ts
  _dev/src/ts/pages/Home.ts
  _dev/src/ts/pages/PageAbstract.ts
  _dev/src/ts/pages/Update.ts
  _dev/src/ts/routing/RouteHandler.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/types/apiTypes.ts
  _dev/src/ts/types/scriptHandlerTypes.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tsconfig.json
  ajax-upgradetab.php
  classes/Router/Router.php
  classes/Twig/PageSelectors.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/AbstractGlobalController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/HomePageController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  views/templates/components/radio-card.html.twig
  views/templates/layouts/layout.html.twig
  views/templates/layouts/page.html.twig
  views/templates/module-script-tag.html.twig
  views/templates/module-script-variables.html.twig
  views/templates/steps/home.html.twig
Labels: QA by dev ✔️

#923 [LOGS] Implementation of contextualized logs
  classes/Analytics.php
  classes/Commands/AbstractCommand.php
  classes/ErrorHandler.php
  classes/Log/CliLogger.php
  classes/Log/Logger.php
  classes/Log/StreamedLogger.php
  classes/Log/WebLogger.php
  classes/State.php
  classes/Task/AbstractTask.php
  classes/Task/Rollback/NoRollbackFound.php
  classes/Task/Rollback/RestoreDb.php
  classes/Task/Rollback/RestoreFiles.php
  classes/Task/Rollback/Rollback.php
  classes/Task/Rollback/RollbackComplete.php
  classes/Task/Runner/ChainedTasks.php
  classes/Task/TaskType.php
  classes/Task/Upgrade/BackupDb.php
  classes/Task/Upgrade/BackupFiles.php
  classes/Task/Upgrade/CleanDatabase.php
  classes/Task/Upgrade/Download.php
  classes/Task/Upgrade/Unzip.php
  classes/Task/Upgrade/UpgradeComplete.php
  classes/Task/Upgrade/UpgradeDb.php
  classes/Task/Upgrade/UpgradeFiles.php
  classes/Task/Upgrade/UpgradeModules.php
  classes/Task/Upgrade/UpgradeNow.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/TaskRepository.php
  tests/unit/AnalyticsTest.php
  tests/unit/ErrorHandlerTest.php
  tests/unit/Log/CliLoggerTest.php
  tests/unit/Log/WebLoggerTest.php
  tests/unit/UpgradeContainerTest.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgrader17Test.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgrader80Test.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgraderTest.php
Labels: waiting for QA, QA by dev ✔️

#919 Raise payment reference to unify with orders table
  upgrade/sql/9.0.0.sql
Labels: QA by dev ✔️

#931 Improve xml version extraction
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: QA by dev ✔️

#929 [NEW UI] Add TS tests
  .github/workflows/js.yml
  _dev/eslint.config.mjs
  _dev/jest.config.ts
  _dev/jest.setup.ts
  _dev/package.json
  _dev/src/ts/api/RequestHandler.ts
  _dev/tests/api/RequestHandler.test.ts
  _dev/tests/routing/RouteHandler.test.ts
  _dev/tests/routing/ScriptHandler.test.ts
  _dev/tests/utils/Hydration.test.ts
  _dev/tsconfig.json
Labels: waiting for QA

#936 Bring back twig in project dependencies
  ajax-upgradetab.php
  composer.json
  composer.lock
  tests/phpstan/forceAutoload.php
  tests/phpstan/phpstan-8.0.0.neon
  tests/phpstan/phpstan-latest.neon
Labels: bug, waiting for QA, QA by dev ✔️

#939 UI tests : Fix major version to PS 8.2.0
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
Labels: QA ✔️

#921 [NEW UI] Update requirements
  views/templates/components/check-requirements.html.twig
Labels: QA by dev ✔️

#941 [NEW UI] start update step version choice
  _dev/global.d.ts
  _dev/jest.setup.ts
  _dev/src/ts/pages/HomePage.ts
  _dev/src/ts/pages/Update.ts
  _dev/src/ts/pages/UpdatePage.ts
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/types/Stepper.ts
  _dev/src/ts/utils/Stepper.ts
  _dev/tests/routing/ScriptHandler.test.ts
  _dev/tests/utils/Stepper.test.ts
  classes/Router/Router.php
  classes/Router/Routes.php
  classes/Twig/PageSelectors.php
  classes/Twig/UpdateSteps.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/HomePageController.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  storybook/stories/components/Stepper.stories.js
  views/templates/components/local-archive.html.twig
  views/templates/components/radio-card-archive.html.twig
  views/templates/components/radio-card-online.html.twig
  views/templates/components/stepper.html.twig
  views/templates/steps/home.html.twig
  views/templates/steps/version-choice.html.twig
Labels: QA by dev ✔️

#932 Make redirection easier to call
  classes/Router/Router.php
  controllers/admin/self-managed/AbstractGlobalController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/HomePageController.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateOptionsController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/unit/Controller/AbstractGlobalControllerTest.php
  tests/unit/Controller/DummyController.php
Labels: enhancement, QA by dev ✔️

#942 UI tests - Run UI tests on prod mode
  .github/workflows/ui-test.yml
  tests/UI/docker-compose.yml
Labels: QA ✔️

#943 [NEW-UI] Stepper animation
  _dev/global.d.ts
  _dev/src/scss/_mixins.scss
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/_radio-card.scss
  _dev/src/scss/components/_stepper.scss
  _dev/src/scss/components/form/_switch.scss
  _dev/src/ts/pages/UpdatePage.ts
  _dev/src/ts/pages/UpdatePageBackup.ts
  _dev/src/ts/pages/UpdatePagePostUpdate.ts
  _dev/src/ts/pages/UpdatePageUpdate.ts
  _dev/src/ts/pages/UpdatePageUpdateOptions.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/utils/Stepper.ts
  _dev/tests/utils/Stepper.test.ts
Labels: QA by dev ✔️

#944 Improve VersionChoiceController, implement save method
  classes/Parameters/UpgradeConfiguration.php
  classes/Parameters/UpgradeConfigurationStorage.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/UpgradeContainer.php
  classes/Upgrader.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  js/upgrade.js
  tests/unit/AnalyticsTest.php
  tests/unit/Progress/CompletionCalculatorTest.php
  views/templates/components/check-requirements.html.twig
Labels: QA by dev ✔️

#953 UI tests - Skip jobs with issue related to disables modules
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
Labels: QA ✔️

#894 BackupDb streams data from database
  classes/State.php
  classes/Task/Upgrade/BackupDb.php
  tests/fixtures/listOfTablesInDb.json
  tests/unit/Task/Upgrade/BackupDbTest.php
Labels: enhancement, waiting for QA, QA ✔️

#952 Remove attribute feature flag
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#964 UI tests - Unskip upgrade of 1.7.8.0 ~ 1.7.8.2 to the minor and major version on php 7.1 ~ 7.4
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️

#966 Fix "UpdateConfig" ajax call
  js/upgrade.js
Labels: QA ✔️

#969 Fix note column creation in Orders table
  upgrade/sql/1.7.8.0.sql
Labels: QA ✔️

#951 [NEW UI] finish front version choice
  .github/action_upgrade.sh
  README.md
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/pages/HomePage.ts
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/api/RequestHandler.test.ts
  _dev/tests/utils/Hydration.test.ts
  classes/AjaxResponseBuilder.php
  classes/Commands/UpdateCommand.php
  classes/Log/CliLogger.php
  classes/Log/Logger.php
  classes/Log/WebLogger.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Parameters/UpgradeConfigurationStorage.php
  classes/Repository/LocalArchiveRepository.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Update/Download.php
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/UpgradeContainer.php
  classes/Upgrader.php
  controllers/admin/self-managed/AbstractGlobalController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/HomePageController.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateOptionsController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  js/upgrade.js
  storybook/stories/components/RadioCardArchive.stories.js
  tests/unit/Controller/AbstractGlobalControllerTest.php
  tests/unit/Parameters/UpgradeConfigurationStorageTest.php
  tests/unit/Repository/LocalArchiveRepositoryTest.php
  tests/unit/UpgradeTools/Module/ModuleDownloaderTest.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
  views/templates/block/upgradeButtonBlock.html.twig
  views/templates/components/check-requirements.html.twig
  views/templates/components/local-archive.html.twig
  views/templates/components/radio-card-local.html.twig
  views/templates/components/radio-card-online.html.twig
  views/templates/components/radio-card.html.twig
  views/templates/steps/home.html.twig
  views/templates/steps/version-choice.html.twig
Labels: enhancement, waiting for QA

#755 UI tests - Add PS versions from 1.7.7.0 ~ 1.7.7.8 to 1.7.8.11 and 8.2.0 on PHP 7.1 ~ 7.3
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
  tests/UI/campaigns/sanity/02_productsBO/03_CRUDProductWithCombinations.spec.ts
  tests/UI/campaigns/sanity/04_cartFO/01_editCheckCart.spec.ts
  tests/UI/package-lock.json
Labels: QA ✔️

#956 Split SQL query execution
  classes/Parameters/UpgradeFileNames.php
  classes/Task/Update/UpdateDatabase.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader81.php
  classes/VersionUtils.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgrader17Test.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgrader80Test.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgraderTest.php
  tests/unit/VersionUtilsTest.php
Labels: QA ✔️

#981 Feat: add hook actionValidateOrderBefore
  upgrade/sql/9.0.0.sql
Labels: QA by dev ✔️
