Repository PrestaShop/autoupgrade, pull requests merged in 2024-08, with the labels that each got.

#826 Removing the ability to save a channel archive without zip and xml
  classes/UpgradePage.php
  js/upgrade.js
Labels: QA ✔️

#822 Update post update checklist
  classes/UpgradePage.php
  js/upgrade.js
  views/templates/block/activityLog.html.twig
  views/templates/block/postUpdateChecklistBlock.html.twig
  views/templates/main.html.twig
Labels: QA ✔️

#824 New restore checklist
  js/upgrade.js
  views/templates/block/postRestoreChecklistBlock.html.twig
  views/templates/main.html.twig
Labels: waiting for QA, QA ✔️

#836 Remove manual mode
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/UpgradePage.php
  controllers/admin/AdminSelfUpgradeController.php
  js/upgrade.js
  storybook/stories/UpgradeButton.stories.js
  views/templates/block/upgradeButtonBlock.html.twig
Labels: waiting for QA, QA ✔️

#829 Feat: Refactor & add logs to module upgrade
  classes/Task/Upgrade/UpgradeModules.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/Module/ModuleAdapter.php
  classes/UpgradeTools/Module/ModuleDownloader.php
  classes/UpgradeTools/Module/ModuleDownloaderContext.php
  classes/UpgradeTools/Module/ModuleMigration.php
  classes/UpgradeTools/Module/ModuleMigrationContext.php
  classes/UpgradeTools/Module/ModuleUnzipper.php
  classes/UpgradeTools/Module/ModuleUnzipperContext.php
  classes/UpgradeTools/Module/ModuleVersionAdapter.php
  tests/fixtures/Module.php
  tests/fixtures/mymodule/index.php
  tests/fixtures/mymodule/mymodule.php
  tests/fixtures/mymodule/upgrade/index.php
  tests/fixtures/mymodule/upgrade/install-1.0.1.php
  tests/fixtures/mymodule/upgrade/upgrade-1.0.1.php
  tests/fixtures/mymodule/upgrade/upgrade-1.1.1.php
  tests/fixtures/mymodule/upgrade/upgrade-1.1.php
  tests/fixtures/mymodule/upgrade/upgrade-1.2.0.php
  tests/fixtures/mymodule/upgrade/upgrade-1.2.1.php
  tests/fixtures/mymodule/upgrade/upgrade-1.2.2.php
  tests/fixtures/mymodule/upgrade/upgrade-1.php
  tests/phpstan/phpstan-1.7.2.5.neon
  tests/phpstan/phpstan-1.7.3.4.neon
  tests/phpstan/phpstan-1.7.4.4.neon
  tests/phpstan/phpstan-1.7.5.1.neon
  tests/phpstan/phpstan-1.7.6.neon
  tests/phpstan/phpstan-1.7.7.neon
  tests/phpstan/phpstan-1.7.8.neon
  tests/unit/UpgradeContainerTest.php
  tests/unit/UpgradeTools/Module/ModuleDownloaderContextTest.php
  tests/unit/UpgradeTools/Module/ModuleMigrationContextTest.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
  tests/unit/UpgradeTools/Module/ModuleUnzipperContextTest.php
Labels: enhancement, QA ✔️

#813 enchancement: Change the logger to throw exception and silent mkdir
  classes/UpgradeContainer.php
  classes/Workspace.php
Labels: enhancement, QA ✔️

#838 Fix: change upgrade files name according to PS documentation
  upgrade/upgrade-4.10.1.php
  upgrade/upgrade-4.9.0.php
  upgrade/upgrade-5.0.3.php
  upgrade/upgrade-6.0.0.php
Labels: QA ✔️

#835 Cast explicitely percentage as integer
  classes/Progress/CompletionCalculator.php
Labels: bug, QA ✔️

#809 Make module Translator usable on Storybook
  .php-cs-fixer.dist.php
  autoupgrade.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/Translator.php
  storybook/.storybook/global.d.ts
  storybook/.storybook/main.ts
  storybook/.storybook/preview.ts
  storybook/config/services.yaml
  storybook/src/EventListener/LocaleListener.php
  storybook/src/Translation/TranslatorBridge.php
  storybook/src/Translation/TranslatorFactory.php
  storybook/stories/Main.stories.js
  tests/fixtures/ModulesAutoupgradeAdmin.fr.xlf
  tests/unit/UpgradeTools/Translator/TranslatorTest.php
Labels: QA ✔️, new feature

#814 Improve the upgrade configuration system
  classes/Analytics.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Parameters/UpgradeConfigurationStorage.php
  classes/Progress/CompletionCalculator.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Upgrade/BackupDb.php
  classes/Task/Upgrade/BackupFiles.php
  classes/Twig/Form/FormRenderer.php
  classes/UpgradeContainer.php
  classes/UpgradePage.php
  classes/UpgradeSelfCheck.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#832 Improvement for new v9 context
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#830 Improve js error handler
  js/upgrade.js
Labels: QA ✔️

#856 Add missing feature flags for v9
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#855 Fixed bad parameter when updating configuration
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#857 Analytics update
  classes/Analytics.php
  classes/UpgradeContainer.php
Labels: enhancement, QA ✔️

#860 Correction of an error when installing the module on a version of prestashop currently under development
  classes/State.php
  classes/UpgradeContainer.php
  classes/UpgradePage.php
  classes/Upgrader.php
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️
