Repository PrestaShop/autoupgrade, pull requests merged in 2024-11, with the labels that each got.

#957 Update new and obsolete hooks for 9.0.0
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#782 UI tests - Add PS versions from 1.7.4.0 ~ 1.7.4.4 to 1.7.8.11 (minor) on php 7.1
  .github/workflows/ui-test/nightly.json
  tests/UI/campaigns/sanity/02_productsBO/01_filterProducts.spec.ts
  tests/UI/package-lock.json
Labels: QA ✔️

#975 [NEW UI] add error version choice
  classes/Parameters/ConfigurationValidator.php
  classes/Parameters/LocalChannelConfigurationValidator.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Services/PrestashopVersionService.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Runner/AllUpdateTasks.php
  classes/UpgradeContainer.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/fixtures/localChannel/not_versioned_8.2.0.xml
  tests/fixtures/localChannel/not_versioned_8.2.0.zip
  tests/fixtures/localChannel/versioned_8.1.0.xml
  tests/fixtures/localChannel/versioned_8.2.0.xml
  tests/fixtures/localChannel/versioned_8.2.0.zip
  tests/unit/Parameters/ConfigurationValidatorTest.php
  tests/unit/Parameters/LocalChannelConfigurationValidatorTest.php
  tests/unit/Services/PrestashopVersionServiceTest.php
  views/templates/components/local-archive.html.twig
  views/templates/steps/version-choice.html.twig
Labels: enhancement, QA ✔️

#987 [NEW UI] Remove background color badge version
  _dev/src/scss/components/_radio-card.scss
Labels: QA by dev ✔️

#984 [NEW-UI] optimise frontend
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/pages/HomePage.ts
  _dev/src/ts/pages/PageAbstract.ts
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  _dev/src/ts/routing/RouteHandler.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/src/ts/utils/Stepper.ts
  _dev/tests/api/RequestHandler.test.ts
  _dev/tests/routing/ScriptHandler.test.ts
Labels: enhancement, QA ✔️

#985 [NEW UI] Add accessibility check
  _dev/src/scss/components/_logs.scss
  storybook/.storybook/main.ts
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/components/RadioCardLocal.stories.js
  views/templates/components/logs-progress.html.twig
  views/templates/components/logs.html.twig
  views/templates/components/modal.html.twig
  views/templates/components/render-select.html.twig
Labels: QA by dev ✔️

#967 Rework UpdateFiles warmup
  classes/Analytics.php
  classes/Commands/AbstractCommand.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Parameters/UpgradeFileNames.php
  classes/State.php
  classes/Task/AbstractTask.php
  classes/Task/Miscellaneous/CompareReleases.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Runner/AllBackupTasks.php
  classes/Task/Runner/AllUpdateTasks.php
  classes/Task/Runner/SingleTask.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateDatabase.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateInitialization.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/unit/AnalyticsTest.php
  tests/unit/UpgradeContainerTest.php
Labels: QA ✔️

#991 Update icon
  autoupgrade.php
  upgrade/upgrade-7.0.0.php
Labels: QA ✔️

#983 Update wording when checking a module for updates
  classes/Task/Update/UpdateModules.php
Labels: enhancement

#993 [NEW UI] Added configuration key constants
  classes/Commands/UpdateCommand.php
  classes/Parameters/ConfigurationValidator.php
  classes/Parameters/LocalChannelConfigurationValidator.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Runner/AllUpdateTasks.php
  classes/Task/Update/UpdateComplete.php
  classes/Twig/Form/BackupOptionsForm.php
  classes/Twig/Form/FormRenderer.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/UpgradePage.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/unit/AnalyticsTest.php
  tests/unit/Parameters/ConfigurationValidatorTest.php
  tests/unit/Parameters/LocalChannelConfigurationValidatorTest.php
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
Labels: enhancement

#999 [NEW UI] Update badge color based on BO version
  _dev/src/scss/components/_radio-card.scss
  storybook/.storybook/preview.ts
Labels: QA ✔️

#1000 [NEW UI] Add loader on welcome page button
  _dev/src/ts/pages/HomePage.ts
Labels: QA ✔️

#1003 Improve channel configuration
  classes/Commands/CheckRequirementsCommand.php
  classes/Parameters/ConfigurationValidator.php
  classes/Parameters/FileConfigurationStorage.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Parameters/UpgradeFileNames.php
  classes/Task/AbstractTask.php
  classes/Task/Backup/BackupComplete.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Restore/RestoreComplete.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateInitialization.php
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/UpgradeSelfCheck.php
  classes/Upgrader.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
Labels: QA ✔️

#1005 Create backup list command
  bin/console
  classes/Commands/ListBackupCommand.php
Labels: QA ✔️

#691 Update 9.0.0.sql
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#925 Change feature value table to add position field
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#990 [NEW UI] Optimise version choice loading
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  classes/Parameters/UpgradeFileNames.php
  classes/State.php
  classes/UpgradeContainer.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/fixtures/config/.gitkeep
  tests/unit/AnalyticsTest.php
  tests/unit/StateTest.php
Labels: QA ✔️

#1008 [NEW UI] Icon rotation direction
  _dev/src/scss/_mixins.scss
  _dev/src/scss/components/_progress.scss
Labels: QA by dev ✔️

#1009 Adapt to recent PRs
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#1022 Stop using a non existing variable downloadPath
  _dev/package-lock.json
  _dev/package.json
  views/templates/components/local-archive.html.twig
Labels: bug, QA by dev ✔️

#1007 Improve AssetsEvironment to handle several entrypoint locations
  classes/Twig/AssetsEnvironment.php
  classes/UpgradeContainer.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/unit/Twig/AssetsEnvironmentTest.php
  views/templates/modals/modal-update.html.twig
Labels: bug, QA ✔️

#989 Add requirements listing in new UI
  classes/Commands/CheckRequirementsCommand.php
  classes/UpgradeSelfCheck.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  views/templates/components/check-requirements.html.twig
Labels: QA ✔️

#1020 Add test to show issues from a script unloaded too late
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/utils/Hydration.test.ts
Labels: enhancement

#1028 [NEW UI] Remove old styles and fix storybook build
  .gitignore
  _dev/src/scss/main.scss
Labels: waiting for QA

#1026 [NEW UI] Fix scroll issue
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/form/_switch.scss
  _dev/src/scss/layouts/_logs-pages.scss
Labels: QA by dev ✔️

#986 [NEW-UI] Backup options page
  _dev/eslint.config.mjs
  _dev/package-lock.json
  _dev/package.json
  _dev/src/scss/components/_modal.scss
  _dev/src/ts/autoUpgrade.ts
  _dev/src/ts/components/ModalContainer.ts
  _dev/src/ts/modals/StartUpdateModal.ts
  _dev/src/ts/pages/HomePage.ts
  _dev/src/ts/pages/PageAbstract.ts
  _dev/src/ts/pages/UpdatePage.ts
  _dev/src/ts/pages/UpdatePageBackup.ts
  _dev/src/ts/pages/UpdatePageUpdateOptions.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/types/DomLifecycle.ts
  _dev/src/ts/types/apiTypes.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/routing/ScriptHandler.test.ts
  _dev/tests/utils/Hydration.test.ts
  _dev/tsconfig.json
  classes/AjaxResponseBuilder.php
  classes/Router/Router.php
  classes/Router/Routes.php
  classes/Twig/PageSelectors.php
  classes/Twig/UpdateSteps.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/AbstractPageWithStepController.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  controllers/admin/self-managed/UpdatePageUpdateOptionsController.php
  storybook/stories/components/Modal.stories.js
  storybook/stories/components/ModalBackup.stories.js
  storybook/stories/components/ModalBackupAll.stories.js
  storybook/stories/components/ModalUpdate.stories.js
  storybook/stories/pages/Backup.stories.js
  tests/unit/Twig/ValidatorToFormFormaterTest.php
  views/templates/layouts/page.html.twig
  views/templates/modals/modal-backup-all.html.twig
  views/templates/modals/modal-backup.html.twig
  views/templates/modals/modal-update.html.twig
  views/templates/steps/backup.html.twig
Labels: QA ✔️

#1035 Autoupgrade PR for 37261
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#1016 [CLI] Improve 'backup:create' command
  classes/Commands/AbstractCommand.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Commands/CreateBackupCommand.php
  classes/Commands/UpdateCommand.php
Labels: QA ✔️

#1029 Fix validator errors on UpdateConfig
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: QA ✔️

#780 UI tests - Add PS versions from 1.7.3.0 ~ 1.7.3.4 to 1.7.8.11 (minor) on php 7.1
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
  tests/UI/campaigns/sanity/02_productsBO/01_filterProducts.spec.ts
  tests/UI/campaigns/sanity/04_cartFO/01_editCheckCart.spec.ts
  tests/UI/campaigns/shopVersion/01_CheckVersion.spec.ts
  tests/UI/package-lock.json
Labels: QA ✔️

#1031 [CLI] Improve state management
  classes/Commands/CreateBackupCommand.php
  classes/Commands/RestoreCommand.php
  classes/Commands/UpdateCommand.php
  classes/Task/AbstractTask.php
  classes/Task/Runner/AllUpdateTasks.php
  classes/Task/Runner/SingleTask.php
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#1043 [NEW UI] Add class on requirement link + fix requirement story
  classes/UpgradeSelfCheck.php
  storybook/stories/components/CheckRequirements.stories.js
Labels: QA by dev ✔️

#1047 [CLI] Add module version and name for CLI
  bin/console
Labels: QA by dev ✔️

#1032 [NEW UI] Feat : progress tracker component
  _dev/src/scss/components/_logs.scss
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/components/LogsViewer.ts
  _dev/src/ts/components/ProgressTracker.ts
  _dev/src/ts/pages/UpdatePageUpdate.ts
  _dev/src/ts/types/Process.ts
  _dev/src/ts/types/apiTypes.ts
  _dev/src/ts/utils/Process.ts
  _dev/tests/api/RequestHandler.test.ts
  _dev/tests/components/LogsViewer.test.ts
  controllers/admin/self-managed/UpdatePageUpdateController.php
  views/templates/components/logs-templates.html.twig
  views/templates/components/progress-tracker.html.twig
  views/templates/steps/update.html.twig
Labels: enhancement

#1021 [CLI] Create "update:check-new-version" command
  bin/console
  classes/Commands/CheckNewVersionCommand.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Services/LocalVersionFilesService.php
  tests/unit/Services/LocalVersionFilesServiceTest.php
Labels: QA ✔️

#1044 UI Tests - Add V9 to upgrade in local archive
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/sanity.json
Labels: QA ✔️

#1052 UI Test - Add all v8 to V9 in Nightly from local
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️
