Repository PrestaShop/autoupgrade, pull requests merged in 2024-12, with the labels that each got.

#1041 [NEW UI] Replace Bootstrap modal by html dialog
  _dev/eslint.config.mjs
  _dev/package-lock.json
  _dev/package.json
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/_dialog.scss
  _dev/src/scss/components/_index.scss
  _dev/src/ts/autoUpgrade.ts
  _dev/src/ts/components/DialogContainer.ts
  _dev/src/ts/components/ModalContainer.ts
  _dev/src/ts/dialogs/StartUpdateDialog.ts
  _dev/src/ts/pages/UpdatePageBackup.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/utils/Hydration.test.ts
  _dev/tsconfig.json
  classes/Twig/PageSelectors.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  storybook/stories/components/Dialog.stories.js
  storybook/stories/components/DialogBackup.stories.js
  storybook/stories/components/DialogBackupAll.stories.js
  storybook/stories/components/DialogBackupDelete.stories.js
  storybook/stories/components/DialogErrorReport.stories.js
  storybook/stories/components/DialogUpdate.stories.js
  views/templates/components/dialog.html.twig
  views/templates/components/modal.html.twig
  views/templates/dialogs/dialog-backup-all.html.twig
  views/templates/dialogs/dialog-backup-delete.html.twig
  views/templates/dialogs/dialog-backup.html.twig
  views/templates/dialogs/dialog-error-report.html.twig
  views/templates/dialogs/dialog-update.html.twig
  views/templates/dialogs/index.php
  views/templates/layouts/page.html.twig
  views/templates/modals/modal-backup-delete.html.twig
Labels: enhancement, QA by dev ✔️

#1025 [CLI] Improve "update:check-requirements" command
  classes/Commands/CheckRequirementsCommand.php
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: QA ✔️

#1042 [CLI] Add new options for update command
  classes/Commands/UpdateCommand.php
  classes/Task/Runner/AllUpdateTasks.php
Labels: QA ✔️

#1061 UI Test - Change the directory of 9.0.x version to have a version always up to date
  .github/workflows/ui-test.yml
Labels: QA ✔️

#1037 [NEW UI] Logs display rework
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/_check-requirements.scss
  _dev/src/scss/components/_index.scss
  _dev/src/scss/components/_logs.scss
  _dev/src/scss/components/_progress.scss
  _dev/src/scss/components/_scrollbar.scss
  _dev/src/scss/layouts/_layout.scss
  _dev/src/scss/layouts/_logs-pages.scss
  _dev/src/ts/components/LogsViewer.ts
  _dev/tests/components/LogsViewer.test.ts
  views/templates/components/logs-templates.html.twig
  views/templates/components/stepper.html.twig
Labels: QA ✔️

#1055 Update Storybook dependencies (JS & PHP)
  storybook/composer.lock
  storybook/package-lock.json
Labels: QA by dev ✔️

#1046 Improve state management
  classes/Commands/UpdateCommand.php
  classes/State.php
Labels: QA by dev ✔️

#1048 Merge changes from `6.x` branch to `dev`
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#1040 [NEW UI] Feat : add connection to page post update
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  views/templates/components/progress-tracker.html.twig
Labels: QA by dev ✔️

#1065 [NEW UI] Fix assets path
  classes/Twig/AssetsEnvironment.php
  tests/unit/Twig/AssetsEnvironmentTest.php
Labels: QA by dev ✔️

#1011 feat: storybook repository dispatch draft
  .github/workflows/storybook-cicd.yml
  storybook/.docker/Dockerfile
  storybook/.env
  storybook/.storybook/main.ts
  storybook/config/services.yaml
  storybook/docker-compose.yml
  storybook/src/Controller/HealthCheckController.php
Labels: enhancement

#1051 [POC] Defer scroll to the bottom if previous one happened recently
  _dev/src/ts/components/LogsViewer.ts
Labels: QA ✔️

#1066 [FIX] Fixed unintentional language update
  upgrade/php/install_ps_distributionapiclient.php
Labels: QA ✔️

#1054 [NEW UI] Update page - Error handling
  _dev/src/scss/components/_logs.scss
  _dev/src/scss/components/form/_switch.scss
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/components/LogsSummary.ts
  _dev/src/ts/components/LogsViewer.ts
  _dev/src/ts/components/ProgressBar.ts
  _dev/src/ts/components/ProgressTracker.ts
  _dev/src/ts/pages/UpdatePageUpdate.ts
  _dev/tests/components/LogsViewer.test.ts
  controllers/admin/self-managed/UpdatePageUpdateController.php
  views/templates/components/alert.html.twig
  views/templates/components/logs-summary.html.twig
  views/templates/components/logs-templates.html.twig
  views/templates/layouts/step-content.html.twig
  views/templates/steps/update.html.twig
Labels: QA by dev ✔️

#1018 Update 'ajax-upgradetab.php' deleting in AdminSelfUpgradeController.php
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#1064 [NEW UI] Update page - download logs
  _dev/src/ts/components/LogsViewer.ts
  _dev/src/ts/components/ProgressTracker.ts
  _dev/tests/components/LogsViewer.test.ts
  classes/Router/Router.php
  classes/Router/Routes.php
  classes/Twig/PageSelectors.php
  classes/UpgradeContainer.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  views/templates/components/download_logs.html.twig
  views/templates/components/logs-templates.html.twig
  views/templates/components/logs-viewer.html.twig
  views/templates/steps/update.html.twig
Labels: enhancement, QA by dev ✔️

#906 Update upgrade.js
  js/upgrade.js
Labels: QA ✔️

#1059 [CLI] Add "admin-dir" verification
  classes/Commands/AbstractCommand.php
  classes/Parameters/LocalChannelConfigurationValidator.php
  tests/unit/Parameters/LocalChannelConfigurationValidatorTest.php
Labels: QA ✔️

#1057 [CLI] Split warning regarding modified files
  .php-cs-fixer.dist.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Parameters/UpgradeFileNames.php
  classes/Task/Miscellaneous/CheckFilesVersion.php
  classes/Task/TaskName.php
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  classes/UpgradeTools/TaskRepository.php
  classes/Xml/ChecksumCompare.php
  js/upgrade.js
  tests/fixtures/checksum-compare/8.1.0.xml
  tests/fixtures/checksum-compare/8.1.0/LICENSES
  tests/fixtures/checksum-compare/8.1.0/adminTest/.htaccess
  tests/fixtures/checksum-compare/8.1.0/app/AppKernel.php
  tests/fixtures/checksum-compare/8.1.0/themes/classic/config/theme.yml
  tests/fixtures/checksum-compare/8.1.0/translations/default/AdminActions.xlf
  tests/unit/Xml/ChecksumCompareTest.php
  views/templates/block/versionComparison.html.twig
Labels: QA ✔️

#1081 Prevent leaving the page when the update is in progress
  _dev/src/ts/pages/UpdatePageUpdate.ts
Labels: enhancement, QA by dev ✔️

#778 UI tests - Add PS versions from 1.7.1.0 ~ 1.7.1.2 to 1.7.8.11 (minor) on php 7.1
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
Labels: QA ✔️

#729 UI tests - Add PS version 1.7.0.6 to 1.7.8.11 on php 7.1
  .github/workflows/ui-test.yml
  .github/workflows/ui-test/nightly.json
  tests/UI/campaigns/sanity/02_productsBO/03_CRUDProductWithCombinations.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/05_deleteProduct.spec.ts
  tests/UI/campaigns/sanity/05_checkoutFO/01_orderProduct.spec.ts
  tests/UI/package-lock.json
Labels: QA ✔️

#1085 Enable PHPStan on all controllers
  classes/AjaxResponseBuilder.php
  controllers/admin/self-managed/AbstractGlobalController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/AbstractPageWithStepController.php
  controllers/admin/self-managed/HomePageController.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateOptionsController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/phpstan/phpstan.neon
Labels: enhancement

#1070 Upgrade attachment champs length
  upgrade/sql/9.0.0.sql
Labels: QA ✔️, Blocked

#1086 [NEW UI] Use background for icons on requirements
  _dev/src/scss/components/_check-requirements.scss
Labels: QA by dev ✔️

#1068 [NEW UI] fix storybook pages and components errors
  classes/Traits/DisplayErrorReportDialogTrait.php
  storybook/stories/components/Alert.stories.js
  storybook/stories/components/Dialog.stories.js
  storybook/stories/components/DialogBackup.stories.js
  storybook/stories/components/DialogBackupAll.stories.js
  storybook/stories/components/DialogBackupDelete.stories.js
  storybook/stories/components/DialogErrorReport.stories.js
  storybook/stories/components/DialogUpdate.stories.js
  storybook/stories/components/LogsProgress.stories.js
  storybook/stories/components/LogsViewer.stories.js
  storybook/stories/components/Privacy.stories.js
  storybook/stories/layouts/Page.stories.js
  storybook/stories/pages/Backup.stories.js
  storybook/stories/pages/BackupSelection.stories.js
  storybook/stories/pages/Home.stories.js
  storybook/stories/pages/PostRestore.stories.js
  storybook/stories/pages/PostUpdate.stories.js
  storybook/stories/pages/Restore.stories.js
  storybook/stories/pages/Update.stories.js
  storybook/stories/pages/UpdateOptions.stories.js
  storybook/stories/pages/VersionChoice.stories.js
  views/templates/components/alert-action-form.html.twig
  views/templates/components/alert-action-link.html.twig
  views/templates/components/alert.html.twig
  views/templates/components/check-requirements.html.twig
  views/templates/components/dialog.html.twig
  views/templates/components/local-archive.html.twig
  views/templates/dialogs/dialog-backup-delete.html.twig
  views/templates/dialogs/dialog-backup.html.twig
  views/templates/dialogs/dialog-error-report.html.twig
  views/templates/steps/post-restore.html.twig
  views/templates/steps/post-update.html.twig
  views/templates/steps/restore.html.twig
Labels: QA by dev ✔️

#1077 UI tests - Add check lint errors, ts errors, readme file and delete testContext
  .github/workflows/checksUI.yml
  tests/UI/.eslintrc.js
  tests/UI/campaigns/sanity/01_ordersBO/01_filterOrders.spec.ts
  tests/UI/campaigns/sanity/01_ordersBO/02_editOrder.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/01_filterProducts.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/02_CRUDStandardProduct.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/03_CRUDProductWithCombinations.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/04_CRUDVirtualProduct.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/05_deleteProduct.spec.ts
  tests/UI/campaigns/sanity/02_productsBO/06_deleteProductsWithBulkActions.spec.ts
  tests/UI/campaigns/sanity/03_catalogFO/01_filterProducts.spec.ts
  tests/UI/campaigns/sanity/03_catalogFO/02_checkProduct.spec.ts
  tests/UI/campaigns/sanity/04_cartFO/01_editCheckCart.spec.ts
  tests/UI/campaigns/sanity/05_checkoutFO/01_orderProduct.spec.ts
  tests/UI/campaigns/sanity/06_shopVersion/01_CheckVersion.spec.ts
  tests/UI/campaigns/sanity/06_shopVersion/02_checkVersionInDatabase.spec.ts
  tests/UI/package-lock.json
  tests/UI/package.json
  tests/UI/readme.md
  tests/UI/tsconfig.json
  tests/UI/types/global.d.ts
Labels: QA ✔️

#1075 Set new option of lang prefix dynamically
  upgrade/php/ps_900_set_url_lang_prefix.php
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#1060 Migrate category images
  upgrade/php/ps_900_migrate_category_images.php
  upgrade/sql/9.0.0.sql
Labels: waiting for QA

#1073 [NEW-UI] virtual scroll
  _dev/src/scss/components/_index.scss
  _dev/src/scss/components/_logs.scss
  _dev/src/scss/components/_scrollbar.scss
  _dev/src/ts/components/LogsViewer.ts
  _dev/src/ts/components/ProgressTracker.ts
  _dev/src/ts/dialogs/SendErrorReportDialog.ts
  _dev/src/ts/pages/UpdatePageUpdate.ts
  _dev/src/ts/store/LogStore.ts
  _dev/src/ts/store/StoreAbstract.ts
  _dev/src/ts/types/Store.ts
  _dev/src/ts/types/logsTypes.ts
  _dev/src/ts/types/logsUtilsTypes.ts
  _dev/src/ts/utils/logsUtils.ts
  _dev/tests/components/LogsViewer.test.ts
  _dev/tests/utils/logsUtils.test.ts
  views/templates/components/logs-templates.html.twig
  views/templates/components/stepper.html.twig
Labels: enhancement, QA by dev ✔️

#1092 [CLI] Add conditions for empty altered files in command
  classes/Commands/CheckRequirementsCommand.php
Labels: QA by dev ✔️

#1074 [NEW UI] Responsive improvements
  _dev/src/scss/components/_content.scss
  _dev/src/scss/layouts/_layout.scss
  _dev/src/scss/layouts/_page.scss
Labels: QA by dev ✔️

#1090 [NEW-UI] Dialog tempered files
  _dev/src/scss/components/_dialog.scss
  _dev/src/scss/components/_index.scss
  _dev/src/scss/components/_scrollable-list.scss
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  classes/Commands/CheckRequirementsCommand.php
  classes/DocumentationLinks.php
  classes/Router/Router.php
  classes/Router/Routes.php
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  storybook/stories/components/DialogTemperedFiles.stories.js
  views/templates/components/check-requirements.html.twig
  views/templates/components/scrollable-list.html.twig
  views/templates/dialogs/dialog-tempered-files.html.twig
Labels: enhancement, QA by dev ✔️

#1100 [FIX] error then trying to load twig on low version of PrestaShop
  classes/UpgradeContainer.php
Labels: bug, QA by dev ✔️

#1096 [NEW-UI] Post update page
  classes/DocumentationLinks.php
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  views/templates/steps/post-update.html.twig
Labels: enhancement, QA by dev ✔️
