Repository PrestaShop/autoupgrade, pull requests merged in 2024-05, with the labels that each got.

#670 feat(configuration): added default configuration value for category b…
  upgrade/sql/9.0.0.sql
Labels: QA ✔️, waiting for dev

#689 Update missing SQL compare to a fresh install
  upgrade/php/add_missing_unique_key_from_authorization_role.php
  upgrade/sql/1.7.1.0.sql
  upgrade/sql/1.7.2.0.sql
  upgrade/sql/1.7.5.0.sql
  upgrade/sql/1.7.6.0.sql
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/1.7.8.0.sql
  upgrade/sql/8.0.0.sql
  upgrade/sql/8.1.7-catchup.sql
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#698 Remove orphan tabs following deletion of old controllers
  upgrade/sql/9.0.0.sql
Labels: bug, QA ✔️

#699 Align ignoring rules between copy and deletion of files + ignore native module only if they have they vendor/ folder
  classes/TaskRunner/Miscellaneous/CheckFilesVersion.php
  classes/TaskRunner/Miscellaneous/CompareReleases.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/FileFilter.php
  classes/Upgrader.php
  classes/Xml/ChecksumCompare.php
  classes/Xml/FileLoader.php
  tests/unit/Xml/ChecksumCompareTest.php
Labels: bug, QA ✔️

#701 Rename 8.1.6.sql to 8.1.7.sql
  upgrade/sql/8.1.7.sql
Labels: QA ✔️

#636 Added SQL commands related to doctrine and remove Doctrine usage
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  classes/UpgradeTools/SymfonyAdapter.php
  upgrade/sql/1.7.1.0.sql
  upgrade/sql/1.7.1.1.sql
  upgrade/sql/1.7.2.0.sql
  upgrade/sql/1.7.5.0.sql
  upgrade/sql/1.7.6.0.sql
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/1.7.8.0.sql
  upgrade/sql/8.0.0.sql
  upgrade/sql/8.1.0.sql
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#695 Unify calls to list directory contents
  classes/TaskRunner/Upgrade/UpgradeFiles.php
  classes/UpgradeTools/FileFilter.php
  classes/UpgradeTools/FilesystemAdapter.php
  tests/fixtures/listOfFiles-ShopExample.json
  tests/fixtures/listOfFiles-backup-with-images.json
  tests/fixtures/listOfFiles-backup-without-images.json
  tests/fixtures/listOfFiles-releaseExample.json
  tests/fixtures/listOfFiles-restore-with-images.json
  tests/fixtures/listOfFiles-restore-without-images.json
  tests/fixtures/listOfFiles-upgrade-with-theme.json
  tests/fixtures/listOfFiles-upgrade.json
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
Labels: QA ✔️

#696 Add a check about PS_VERSION_DB
  autoupgrade.php
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradePage.php
  classes/UpgradeSelfCheck.php
  controllers/admin/AdminSelfUpgradeController.php
  views/templates/block/checklist.twig
Labels: enhancement, QA ✔️
