Repository PrestaShop/autoupgrade, pull requests merged in 2024-04, with the labels that each got.

#685 Fix nightly
  .github/workflows/nightly_upgrade.yml
Labels: QA ✔️

#675 Set authorization_server feature flag true by default
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#678 Add category redirect columns
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#684 Delete the obsolete PS_SSL_ENABLED_EVERYWHERE config
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#687 Fix tab visibility on PrestaShop 9
  autoupgrade.php
Labels: bug, QA ✔️

#680 Update the ean13 field
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#682 Unify text field database limits
  upgrade/sql/8.1.6.sql
Labels: QA ✔️

#672 Add actionValidateCartRule hook
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#690 Fix path to autoloader after moving controller
  controllers/admin/AdminSelfUpgradeController.php
Labels: bug, QA ✔️

#688 Add a failsafe require and add first working version of 1.7 in automatic tests
  .github/action.yml
  .github/workflows/upgrade.yml
  classes/UpgradeTools/SymfonyAdapter.php
Labels: QA ✔️

#693 improvement: upgrade deprecated actions on github workflows
  .github/workflows/e2e_nightly_upgrade.yml
  .github/workflows/nightly_upgrade.yml
  .github/workflows/php.yml
  .github/workflows/upgrade.yml
Labels: enhancement, waiting for QA
