Repository PrestaShop/autoupgrade, pull requests merged in 2024-09, with the labels that each got.

#854 bug changedFileList is cleared showing 0 modifications have been detected
  classes/Task/Miscellaneous/CheckFilesVersion.php
Labels: QA ✔️

#869 Unify varchar limits
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#868 Removing patch version when comparing php version for destination version
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradeSelfCheck.php
  classes/VersionUtils.php
  tests/unit/UpgradeSelfCheckTest.php
  tests/unit/VersionUtilsTest.php
Labels: QA ✔️

#874 Improve "runPhpQuery" method
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  tests/unit/UpgradeTools/CoreUpgrader/CoreUpgraderTest.php
Labels: waiting for QA

#877 Drop server performance configuration
  classes/Analytics.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Twig/Form/UpgradeOptionsForm.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/unit/AnalyticsTest.php
  tests/unit/Progress/CompletionCalculatorTest.php
Labels: QA ✔️

#878 Drop 'update default theme' configuration
  classes/Analytics.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/UpgradeTools/CacheCleaner.php
  classes/UpgradeTools/FileFilter.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/fixtures/listOfFiles-upgrade-with-theme.json
  tests/fixtures/listOfFiles-upgrade.json
  tests/unit/AnalyticsTest.php
  tests/unit/Progress/CompletionCalculatorTest.php
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
Labels: QA ✔️

#867 Improve requirements for v7.0.0
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradeSelfCheck.php
  controllers/admin/AdminSelfUpgradeController.php
  views/templates/block/checklist.html.twig
Labels: QA ✔️

#879 Feat: connect new UI
  .github/workflows/js.yml
  _dev/vite.dev.config.ts
  classes/Router/Router.php
  composer.json
  composer.lock
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/AbstractGlobalController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/WelcomeController.php
  storybook/.storybook/main.ts
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/components/RadioCard.stories.js
  storybook/stories/layouts/Layout.stories.js
  storybook/stories/layouts/Welcome.stories.js
  views/templates/components/radio-card.html.twig
  views/templates/layouts/layout.html.twig
  views/templates/layouts/welcome.html.twig
Labels: QA ✔️, new feature, waiting for author

#891 Drop "isPhpSessionsValid" requirement
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradeSelfCheck.php
  views/templates/block/checklist.html.twig
Labels: QA ✔️

#884 Prepare release of 6.2.0 by merging 6.x in master
  autoupgrade.php
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradeSelfCheck.php
  classes/VersionUtils.php
  config.xml
  tests/unit/UpgradeSelfCheckTest.php
  tests/unit/VersionUtilsTest.php
  translations/ModulesAutoupgradeAdmin.es.xlf
  translations/ModulesAutoupgradeAdmin.fr.xlf
  translations/ModulesAutoupgradeAdmin.it.xlf
  translations/ModulesAutoupgradeAdmin.nl.xlf
  translations/ModulesAutoupgradeAdmin.pl.xlf
  translations/ModulesAutoupgradeAdmin.pt.xlf
  translations/ModulesAutoupgradeAdmin.ru.xlf
Labels: QA ✔️

#888 Automatic detection of rtl regeneration
  classes/Analytics.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/unit/AnalyticsTest.php
Labels: enhancement, QA ✔️

#851 Add 'backup:restore' in symfony console
  .github/action.yml
  README.md
  bin/console
  classes/Commands/AbstractCommand.php
  classes/Commands/RestoreCommand.php
  classes/Commands/UpdateCommand.php
  cli-rollback.php
  cli-updateconfig.php
  tests/phpstan/phpstan.neon
Labels: QA ✔️

#905 Clean Twig files formatting
  _dev/src/scss/components/_typography.scss
  views/templates/components/alert.html.twig
  views/templates/components/backup-selection.html.twig
  views/templates/components/check-requirements.html.twig
  views/templates/components/local-archive.html.twig
  views/templates/components/logs-progress.html.twig
  views/templates/components/logs.html.twig
  views/templates/components/modal.html.twig
  views/templates/components/privacy.html.twig
  views/templates/components/radio-card.html.twig
  views/templates/components/render-bool.html.twig
  views/templates/components/render-field.html.twig
  views/templates/components/render-select.html.twig
  views/templates/components/stepper.html.twig
  views/templates/error.html.twig
  views/templates/form.html.twig
  views/templates/layouts/layout.html.twig
  views/templates/layouts/page.html.twig
  views/templates/layouts/step-content.html.twig
  views/templates/macros/form-fields.html.twig
  views/templates/macros/icons.html.twig
  views/templates/main.html.twig
  views/templates/modals/modal-backup-all.html.twig
  views/templates/modals/modal-backup-delete.html.twig
  views/templates/modals/modal-backup.html.twig
  views/templates/modals/modal-error-report.html.twig
  views/templates/modals/modal-update.html.twig
  views/templates/pages/home.html.twig
  views/templates/pages/rollback.html.twig
  views/templates/pages/update.html.twig
  views/templates/steps/backup.html.twig
  views/templates/steps/home.html.twig
  views/templates/steps/post-update.html.twig
  views/templates/steps/restore.html.twig
  views/templates/steps/update-options.html.twig
  views/templates/steps/update.html.twig
  views/templates/steps/version-choice.html.twig
Labels: waiting for QA

#844 Add new command 'update:check' in symfony console
  README.md
  bin/console
  classes/Commands/CheckRequirementsCommand.php
  classes/Log/CliLogger.php
  classes/Xml/ChecksumCompare.php
Labels: QA ✔️

#909 Rework boolean switch for new UI
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/form/_switch.scss
  storybook/stories/components/RenderBool.stories.js
  views/templates/components/render-bool.html.twig
  views/templates/components/render-select.html.twig
  views/templates/steps/backup.html.twig
  views/templates/steps/update-options.html.twig
Labels: waiting for QA

#910 [NEW UI] Auto height logs container on update page
  _dev/src/scss/_mixins.scss
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/_logs.scss
  _dev/src/scss/layouts/_index.scss
  _dev/src/scss/layouts/_logs-pages.scss
  storybook/stories/components/Logs.stories.js
  views/templates/components/logs.html.twig
  views/templates/steps/update.html.twig
Labels: waiting for QA

#916 [NEW UI] Add loader on buttons
  _dev/src/scss/_mixins.scss
  _dev/src/scss/_variables.scss
  _dev/src/scss/components/_button.scss
Labels: QA by dev ✔️

#915 Improve check requirements command
  classes/Commands/AbstractCommand.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Commands/UpdateCommand.php
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: QA ✔️

#908 Feat: new UI add page params
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/AbstractPageController.php
  controllers/admin/self-managed/UpdatePageBackupController.php
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateController.php
  controllers/admin/self-managed/UpdatePageUpdateOptionsController.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  storybook/stories/components/RadioCard.stories.js
  views/templates/steps/backup.html.twig
  views/templates/steps/post-update.html.twig
  views/templates/steps/update-options.html.twig
  views/templates/steps/version-choice.html.twig
Labels: enhancement, QA by dev ✔️

#922 [NEW UI] Update stories
  storybook/stories/pages/Backup.stories.js
  storybook/stories/pages/PostUpdate.stories.js
  storybook/stories/pages/UpdateOptions.stories.js
  storybook/stories/pages/VersionChoice.stories.js
Labels: QA by dev ✔️
