Repository PrestaShop/autoupgrade, pull requests merged in 2024-06, with the labels that each got.

#713 Various SQL fix
  upgrade/sql/1.7.1.0.sql
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/8.0.0.sql
Labels: QA ✔️

#697 Remove step that cleans samples and use existing file ignoring system
  classes/TaskRunner/Upgrade/BackupDb.php
  classes/TaskRunner/Upgrade/BackupFiles.php
  classes/TaskRunner/Upgrade/RemoveSamples.php
  classes/TaskRunner/Upgrade/Unzip.php
  classes/TaskRunner/Upgrade/UpgradeNow.php
  classes/UpgradeTools/FileFilter.php
  classes/UpgradeTools/FilesystemAdapter.php
  classes/UpgradeTools/TaskRepository.php
  tests/fixtures/listOfFiles-releaseExample.json
Labels: enhancement, QA ✔️

#720 Improve regeneration of RTL files during upgrade
  classes/Parameters/UpgradeConfigurationStorage.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/ThemeAdapter.php
Labels: bug, QA ✔️

#725 Sanitize sensitive data (admin folder) from logs
  classes/Log/LegacyLogger.php
  classes/UpgradeContainer.php
  tests/unit/Log/LegacyLoggerTest.php
Labels: enhancement, QA ✔️

#715 Add dynamic php requirements check for upgrade
  classes/Exceptions/DistributionApiException.php
  classes/Exceptions/UpgradeException.php
  classes/Services/DistributionApiService.php
  classes/TaskRunner/Upgrade/UpgradeDb.php
  classes/TaskRunner/Upgrade/UpgradeModules.php
  classes/Twig/Block/UpgradeChecklist.php
  classes/UpgradeSelfCheck.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader81.php
  classes/UpgradeTools/ModuleAdapter.php
  classes/VersionUtils.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/unit/VersionUtilsTest.php
  views/templates/block/checklist.twig
  views/templates/hook/dashboard_zone_one.tpl
Labels: QA ✔️, new feature

#726 add new check between the xml and zip version for local upgrade
  classes/TaskRunner/Miscellaneous/UpdateConfig.php
Labels: QA ✔️

#710 Feat : crowdin translations
  .github/workflows/php.yml
  README.md
  autoupgrade.php
  classes/TaskRunner/AbstractTask.php
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/SymfonyAdapter.php
  classes/UpgradeTools/Translator.php
  classes/ZipAction.php
  composer.json
  composer.lock
  controllers/admin/AdminSelfUpgradeController.php
  crowdin.yml
  tests/phpstan/phpstan-1.7.6.neon
  tests/unit/UpgradeTools/Translator/TranslatorTest.php
  translations/ModulesAutoupgradeAdmin.cs.xlf
  translations/ModulesAutoupgradeAdmin.de.xlf
  translations/ModulesAutoupgradeAdmin.en.xlf
  translations/ModulesAutoupgradeAdmin.es.xlf
  translations/ModulesAutoupgradeAdmin.fr.xlf
  translations/ModulesAutoupgradeAdmin.it.xlf
  translations/ModulesAutoupgradeAdmin.pl.xlf
  translations/ModulesAutoupgradeAdmin.ru.xlf
  translations/cs.php
  translations/de.php
  translations/en.php
  translations/es.php
  translations/fr.php
  translations/it.php
  translations/pl.php
  translations/ru.php
  upgrade/install-6.0.0.php
  views/templates/block/activityLog.twig
  views/templates/block/channelInfo.twig
  views/templates/block/checklist.twig
  views/templates/block/rollbackForm.twig
  views/templates/block/upgradeButtonBlock.twig
  views/templates/block/versionComparison.twig
  views/templates/form.twig
  views/templates/main.twig
Labels: enhancement, QA ✔️

#734 Add condition when version_num is null for compute PHP compatibility range
  classes/UpgradeSelfCheck.php
Labels: waiting for QA

#740 feat: start creating CI for extract translation
  .github/workflows/extract-translations.yml
Labels: enhancement
