Repository PrestaShop/autoupgrade, pull requests merged in 2025-04, with the labels that each got.

#1268 [NEW UI] Add update notification dialog
  _dev/src/scss/appUpdateNotification/components/_dialog.scss
  _dev/src/scss/appUpdateNotification/components/_index.scss
  _dev/src/scss/appUpdateNotification/main.scss
  _dev/src/ts/appUpdateNotification/api/baseApi.ts
  _dev/src/ts/appUpdateNotification/dialogs/UpdateNotificationDialog.ts
  _dev/src/ts/appUpdateNotification/main.ts
  _dev/vite.config.ts
  autoupgrade.php
  classes/DocumentationLinks.php
  classes/Hooks/DisplayBackOfficeHeader.php
  classes/Models/UpdateNotificationConfiguration.php
  classes/Services/UpdateNotificationService.php
  classes/Twig/PageSelectors.php
  classes/UpgradeContainer.php
  controllers/admin/AdminAutoupgradeAjaxController.php
  storybook/.storybook/preview.ts
  storybook/stories/hooks/hookDisplayBackOfficeHeader/DialogUpdateNotification.stories.js
  upgrade/upgrade-7.1.0.php
  views/templates/hooks/dialog-update-notification.html.twig
  views/templates/hooks/external-layout.html.twig
Labels: QA ✔️, new feature

#1174 Add new aliases tab and remove search_conf feature flag
  upgrade/php/ps_900_reorganize_aliases_tab.php
  upgrade/sql/9.0.0.sql
Labels: enhancement, QA by dev ✔️

#1284 [NEW UI] Update notification remind me later
  _dev/src/ts/appUpdateNotification/dialogs/UpdateNotificationDialog.ts
  classes/Hooks/DisplayBackOfficeHeader.php
  classes/Models/UpdateNotificationConfiguration.php
  controllers/admin/AdminAutoupgradeAjaxController.php
  views/templates/hooks/dialog-update-notification.html.twig
Labels: enhancement, QA ✔️

#1269 [NEW UI] Add release notes in employee menu
  autoupgrade.php
  classes/DocumentationLinks.php
  tests/phpstan/phpstan-1.7.2.5.neon
  tests/phpstan/phpstan-1.7.3.4.neon
  tests/phpstan/phpstan-1.7.4.4.neon
  tests/phpstan/phpstan-1.7.5.1.neon
  tests/phpstan/phpstan-1.7.6.neon
  tests/phpstan/phpstan-1.7.7.neon
  tests/phpstan/phpstan-1.7.8.neon
  upgrade/upgrade-7.1.0.php
Labels: enhancement, QA by dev ✔️

#1282 Add discount feature flag for 9.1.0
  upgrade/sql/9.1.0.sql
Labels: enhancement, QA by dev ✔️

#1289 Add segment to update dialog
  _dev/src/ts/appUpdateNotification/dialogs/UpdateNotificationDialog.ts
  classes/Hooks/DisplayBackOfficeHeader.php
Labels: enhancement, QA by dev ✔️

#1178 Add a new column type to the cart_rule table and index it
  upgrade/sql/9.1.0.sql
Labels: new feature, QA by dev ✔️

#1187 Handle symbolic links when updating the files
  classes/Parameters/UpgradeFileNames.php
  classes/Task/Update/UpdateFiles.php
  classes/Xml/ChecksumCompare.php
  tests/fixtures/checksum-compare/8.1.0.xml
  tests/unit/Xml/ChecksumCompareTest.php
Labels: enhancement, QA by dev ✔️

#1298 [FIX] issue then multiple employee snoozed modal
  classes/Hooks/DisplayBackOfficeHeader.php
Labels: bug, QA ✔️

#1301 Find support link and button
  classes/DocumentationLinks.php
  classes/Hooks/DisplayBackOfficeHeader.php
  storybook/stories/hooks/hookDisplayBackOfficeHeader/DialogUpdateNotification.stories.js
  views/templates/hooks/dialog-update-notification.html.twig
Labels: PM ✔️, refacto

#1296 [NEW UI] Update dialog theming
  _dev/src/scss/_variables.scss
  _dev/src/scss/appUpdateNotification/components/_dialog.scss
  _dev/src/scss/appUpdateNotification/components/_dropdown.scss
  _dev/src/scss/appUpdateNotification/components/_index.scss
Labels: QA ✔️

#1300 [NEW UI] change message to add version on post update
  controllers/admin/self-managed/UpdatePagePostUpdateController.php
  views/templates/steps/post-update.html.twig
Labels: enhancement, QA ✔️

#1307 [FIX] segment update dialog async call
  _dev/src/ts/api/SegmentApi.ts
  _dev/src/ts/appUpdateNotification/dialogs/UpdateNotificationDialog.ts
Labels: bug, QA ✔️

#1299 Add new cache revalidate frequency requirement
  classes/UpgradeSelfCheck.php
Labels: bug, QA ✔️, new feature

#1303 Add post process checklists for CLI
  classes/Commands/RestoreCommand.php
  classes/Commands/UpdateCommand.php
Labels: enhancement, QA ✔️

#1290 Fix dependancies collisions on v9.0.0
  ajax-upgradetab.php
  classes/Commands/AbstractCommand.php
  classes/UpgradeContainer.php
Labels: bug, waiting for QA, QA by dev ✔️

#1304 Improve web archive retrieval
  classes/Commands/CheckNewVersionCommand.php
  classes/Repository/LocalArchiveRepository.php
  classes/Services/LocalVersionFilesService.php
  classes/UpgradeContainer.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/unit/Repository/LocalArchiveRepositoryTest.php
  tests/unit/Services/LocalVersionFilesServiceTest.php
Labels: enhancement, QA ✔️

#1285 Improve 9.0.0 sql script
  upgrade/php/ps_900_reorganize_aliases_tab.php
  upgrade/sql/9.0.0.sql
Labels: enhancement, QA ✔️

#1297 Update error message when openssl_pkey_new() fails
  classes/UpgradeSelfCheck.php
Labels: bug, waiting for QA, QA ✔️

#1312 Improve generation of basepath for URLs
  classes/Router/UrlGenerator.php
  classes/UpgradeContainer.php
  tests/unit/Controller/AbstractGlobalControllerTest.php
  tests/unit/Router/UrlGeneratorTest.php
  tests/unit/Twig/AssetsEnvironmentTest.php
Labels: bug, QA ✔️

#1324 [v4] Use new API for xml md5
  .github/action.yml
  .github/workflows/build-release.yml
  .github/workflows/php.yml
  AdminSelfUpgrade.php
  classes/ChannelInfo.php
  classes/TaskRunner/Miscellaneous/CompareReleases.php
  classes/TaskRunner/Upgrade/AllUpgradeTasks.php
  classes/TaskRunner/Upgrade/Download.php
  classes/TaskRunner/Upgrade/UpgradeComplete.php
  classes/TaskRunner/Upgrade/UpgradeNow.php
  classes/UpgradeContainer.php
  classes/Upgrader.php
  upgrade/channel.xml
  upgrade/sql/1.7.8.8.sql
Labels: enhancement, QA ✔️

#1331 [FEAT] Update segment php userId
  classes/Analytics.php
  tests/unit/AnalyticsTest.php
Labels: enhancement, QA ✔️

#1330 [FEAT] add tracking to "Go to module manager" button on post update
  views/templates/dialogs/dialog-confirm-module-manager.html.twig
Labels: enhancement, QA ✔️
