Repository PrestaShop/autoupgrade, pull requests merged in 2025-02, with the labels that each got.

#1146 [MIDDLEWARE] page post update
  classes/Router/Middlewares/UpdateLogExists.php
  classes/Router/RoutesConfig.php
Labels: enhancement, QA ✔️

#1148 [MIDDLEWARE] backup selection
  classes/Router/Middlewares/HasBackupAvailable.php
  classes/Router/RoutesConfig.php
  controllers/admin/self-managed/RestorePageBackupSelectionController.php
Labels: enhancement, waiting for QA, QA ✔️

#1153 [MIDDLEWARE] page post restore
  classes/Router/Middlewares/RestoreLogExists.php
  classes/Router/RoutesConfig.php
Labels: enhancement, QA ✔️

#1087 Ensure logs use the correct timezone in CLI and Web contexts
  ajax-upgradetabconfig.php
  classes/Commands/AbstractCommand.php
  classes/State/LogsState.php
  classes/Task/Runner/ChainedTasks.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  tests/unit/State/LogsStateTest.php
Labels: QA ✔️, new feature

#1142 [LOG] adding missing translations
  classes/Backup/BackupFinder.php
  classes/Backup/BackupManager.php
  classes/Commands/AbstractBackupCommand.php
  classes/Services/DistributionApiService.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/Module/ModuleDownloader.php
  classes/Upgrader.php
  tests/unit/Backup/BackupFinderTest.php
  tests/unit/Backup/BackupManagerTest.php
  tests/unit/Services/PhpVersionResolverServiceTest.php
Labels: enhancement, QA by dev ✔️

#1162 [FIX] stepper to check init stepper again if it change.
  _dev/src/ts/utils/Stepper.ts
  _dev/tests/utils/Stepper.test.ts
Labels: bug, QA ✔️

#1157 Clean update config file after update
  classes/Task/Update/UpdateComplete.php
Labels: bug, QA ✔️

#1159 Use clearDirectory for cache cleaner
  classes/UpgradeContainer.php
  classes/UpgradeTools/CacheCleaner.php
  classes/UpgradeTools/FilesystemAdapter.php
Labels: bug, QA ✔️

#1163 [FIX] use state version if initialized instead using core files
  classes/UpgradeContainer.php
Labels: bug, waiting for QA, QA by dev ✔️

#1152 [MIDDLEWARE] page restore
  classes/Parameters/RestoreConfigurationValidator.php
  classes/Router/Middlewares/RestoreConfigurationIsValid.php
  classes/Router/Middlewares/RestoreIsConfigured.php
  classes/Router/RoutesConfig.php
  classes/UpgradeContainer.php
  tests/unit/Parameters/RestoreConfigurationValidatorTest.php
Labels: enhancement, QA ✔️

#1161 [NEW UI] Visual web integration check
  _dev/src/scss/_utilities.scss
  _dev/src/scss/components/_button.scss
  _dev/src/scss/components/_check-requirements.scss
  _dev/src/scss/components/_logs.scss
  _dev/src/scss/components/_progress.scss
  _dev/src/scss/layouts/_backup.scss
  _dev/src/scss/layouts/_error.scss
  _dev/src/scss/layouts/_page.scss
  _dev/src/scss/layouts/_version-choice.scss
  _dev/src/scss/main.scss
  views/templates/components/logs-viewer.html.twig
  views/templates/steps/backup.html.twig
  views/templates/steps/version-choice.html.twig
Labels: enhancement, QA by dev ✔️

#1160 Do not initialize in tasks the Core by default, only when requested
  classes/Task/AbstractTask.php
  classes/Task/Backup/BackupDatabase.php
  classes/Task/Restore/RestoreFiles.php
  classes/Task/Restore/RestoreInitialization.php
  classes/Task/Update/CleanDatabase.php
  classes/Task/Update/Download.php
  classes/Task/Update/Unzip.php
  classes/Task/Update/UpdateDatabase.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateModules.php
Labels: bug, enhancement, QA ✔️

#1183 Make sure to not update to patch versions if they are not in channel.xml file
  classes/Services/PhpVersionResolverService.php
  tests/unit/Services/PhpVersionResolverServiceTest.php
Labels: bug

#1177 Update carrier feature flag stability
  upgrade/sql/9.0.0.sql
Labels: QA ✔️

#1172 Add `id_product` in customer_message for v9
  upgrade/sql/9.0.0.sql
Labels: enhancement, QA ✔️

#1198 [FIX] update nightly and sanity json for UI test after 8.2.1 release
  .github/workflows/ui-test/nightly.json
  .github/workflows/ui-test/sanity.json
Labels: bug, waiting for QA

#1196 [NEW UI] Refacto backup selection
  _dev/src/scss/components/_backup-deletion.scss
  _dev/src/scss/components/_index.scss
  _dev/src/scss/components/form/_render-field.scss
  views/templates/components/render-backup-selection.html.twig
  views/templates/components/render-field.html.twig
  views/templates/steps/backup-selection.html.twig
Labels: QA by dev ✔️

#1193 remove safe_mode check
  classes/UpgradeSelfCheck.php
Labels: enhancement, QA ✔️

#1188 [FIX] save iso for translations
  classes/Parameters/ConfigurationStorage.php
  classes/Parameters/LanguageConfiguration.php
  classes/Parameters/UpgradeFileNames.php
  classes/UpgradeContainer.php
  tests/phpstan/phpstan-1.7.2.5.neon
  tests/phpstan/phpstan-1.7.3.4.neon
  tests/phpstan/phpstan-1.7.4.4.neon
  tests/phpstan/phpstan-1.7.5.1.neon
  tests/phpstan/phpstan-1.7.6.neon
Labels: bug, QA ✔️

#1150 Add actionPresentObject hook
  upgrade/sql/9.0.0.sql
Labels: QA ✔️, new feature

#1180 Avoid files as scandir() parameter
  classes/UpgradeTools/CacheCleaner.php
  classes/UpgradeTools/FilesystemAdapter.php
Labels: bug, QA ✔️, Wording ✔️

#1173 feat: add feature flag for the newly improved shipping
  upgrade/sql/9.1.0.sql
Labels: QA ✔️, new feature

#1185 Add default and generic message when error code is unknown
  _dev/src/ts/components/ErrorPageBuilder.ts
  _dev/src/ts/components/LogsViewer.ts
  _dev/tests/components/ErrorPageBuilder.test.ts
  storybook/stories/layouts/TemplatedErrors.stories.js
  views/templates/pages/errors/generic.html.twig
Labels: bug, QA ✔️, Wording ✔️

#686 Update tab, roles and feature flags related to new Admin API
  upgrade/php/install_ps_apiresources.php
  upgrade/sql/9.0.0.sql
Labels: enhancement, QA by dev ✔️

#1156 Refactoring of the admin/autoupgrade directory structure
  classes/Task/Update/Download.php
  classes/Task/Update/Unzip.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateModules.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/FilesystemAdapter.php
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
Labels: enhancement, QA ✔️, Wording ✔️

#1201 [NEW UI] Connect restore validator
  _dev/src/scss/components/form/_render-field.scss
  classes/Parameters/RestoreConfigurationValidator.php
  classes/Task/Runner/AllRestoreTasks.php
  controllers/admin/self-managed/RestorePageBackupSelectionController.php
  tests/unit/Parameters/RestoreConfigurationValidatorTest.php
Labels: enhancement, QA ✔️
