Repository PrestaShop/autoupgrade, pull requests merged in 2025-09, with the labels that each got.

#1453 Improve segment error handler
  _dev/src/ts/api/SegmentApi.ts
Labels: enhancement, QA ✔️

#1454 Run command "assets:install" during the update process for PS 9.0.1
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
Labels: QA ✔️, new feature

#1468 Add new 'recommended' update option
  README.md
  _dev/src/ts/appUI/pages/UpdatePageVersionChoice.ts
  classes/Commands/CheckNewVersionCommand.php
  classes/Commands/UpdateCommand.php
  classes/Hooks/DisplayBackOfficeHeader.php
  classes/Parameters/ConfigurationValidator.php
  classes/Parameters/UpgradeConfiguration.php
  classes/Task/Update/UpdateComplete.php
  classes/Twig/PageSelectors.php
  classes/Upgrader.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/UI/campaigns/functional/01_upgradeOnline.spec.ts
  tests/UI/campaigns/functional/02_upgradeLocal.spec.ts
  tests/UI/campaigns/functional/03_rollback.spec.ts
  tests/UI/package-lock.json
  views/templates/components/radio-card-local.html.twig
  views/templates/components/radio-card-online.html.twig
  views/templates/components/radio-card.html.twig
  views/templates/steps/version-choice.html.twig
Labels: waiting for QA, QA ✔️, new feature

#1470 [FEAT] add segment field on update "update type"
  classes/Analytics.php
  classes/Commands/UpdateCommand.php
  classes/Parameters/UpgradeConfiguration.php
  controllers/admin/self-managed/UpdatePageVersionChoiceController.php
  tests/unit/AnalyticsTest.php
Labels: enhancement, QA ✔️

#1458 Added the feature flag for Tag migration
  upgrade/sql/9.1.0.sql
Labels: enhancement, QA ✔️
