Repository PrestaShop/autoupgrade, pull requests merged in 2025-06, with the labels that each got.

#1387 [FEAT] add browser tab progress then hidden the page
  _dev/global.d.ts
  _dev/src/ts/appUI/components/BrowserTab.ts
  _dev/src/ts/appUI/components/ProcessContainer.ts
  _dev/tests/fakeWindow.ts
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️, new feature

#1404 Check PHP function symlink exists in pre-requirements
  classes/UpgradeSelfCheck.php
Labels: bug, waiting for QA

#1385 Clear cache folders after an update and a restore
  classes/Task/Restore/RestoreComplete.php
  classes/Task/Update/UpdateComplete.php
Labels: enhancement, QA ✔️

#1410 [FIX] error handler
  classes/ErrorHandler.php
  classes/Log/Logger.php
  tests/unit/ErrorHandlerTest.php
Labels: bug, QA ✔️

#1408 [FIX] module migration files
  classes/Task/Update/UpdateModules.php
  classes/UpgradeTools/Module/ModuleMigration.php
Labels: bug, QA ✔️
