Repository PrestaShop/autoupgrade, pull requests merged in 2025-05, with the labels that each got.

#1333 Add content verification during ZIP extraction and file copy operations by comparing file MD5 checksums.
  classes/Task/Update/UpdateFiles.php
  classes/ZipAction.php
  tests/fixtures/ArchiveExample/ArchiveExample.zip
  tests/fixtures/ArchiveExample/dummyFolder/AppKernelExample.php.txt
  tests/unit/ZipActionTest.php
Labels: enhancement, QA ✔️

#1336 [NEW UI] Fix button overflow on error pages
  _dev/src/scss/appUI/components/_button.scss
  _dev/src/scss/appUI/layouts/_error.scss
Labels: bug, QA ✔️

#1337 [FIX] Duplicate segment call
  _dev/src/ts/api/SegmentApi.ts
  _dev/src/ts/appUI/main.ts
  _dev/src/ts/appUpdateNotification/dialogs/UpdateNotificationDialog.ts
Labels: bug, QA ✔️

#1317 Handle manually the creation of symlinks while creating a ZIP archive
  classes/Parameters/UpgradeFileNames.php
  classes/Task/Update/UpdateFiles.php
  classes/Xml/ChecksumCompare.php
  classes/ZipAction.php
  tests/unit/Xml/ChecksumCompareTest.php
  tests/unit/ZipActionTest.php
Labels: enhancement, QA ✔️

#1329 [NEW UI] new distribution api endpoints
  classes/Exceptions/DistributionApiException.php
  classes/Models/AutoupgradeRelease.php
  classes/Models/PrestashopRelease.php
  classes/Services/DistributionApiService.php
  classes/Services/PhpVersionResolverService.php
  classes/UpgradeContainer.php
  classes/UpgradeSelfCheck.php
  classes/Upgrader.php
  classes/Xml/FileLoader.php
  tests/fixtures/api-distribution/autoupgrade.json
  tests/fixtures/api-distribution/empty_autoupgrade.json
  tests/fixtures/api-distribution/empty_prestashop.json
  tests/fixtures/api-distribution/prestashop.json
  tests/fixtures/xml/channel.xml
  tests/unit/Services/PhpVersionResolverServiceTest.php
Labels: enhancement, QA ✔️

#1344 [FIX] handle link to admin maintenance on PS 1.7.4
  classes/UpgradeSelfCheck.php
Labels: bug, QA ✔️

#1346 Bump to v4.14.4
  autoupgrade.php
  config.xml
Labels: bug

#1347 Fix execution of upgrade file 1.7.0.0.sql
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
Labels: bug, QA ✔️

#1327 Disable OPcache on critical steps, revert requirement previously added
  classes/Commands/UpdateCommand.php
  classes/Task/AbstractTask.php
  classes/Task/Restore/RestoreComplete.php
  classes/Task/Runner/ChainedTasks.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateDatabase.php
  classes/UpgradeSelfCheck.php
Labels: enhancement, QA ✔️

#1200 feat: add shipment table
  upgrade/sql/9.1.0.sql
Labels: QA ✔️, new feature

#1355 Add 'actionDuplicateCartData' hook
  upgrade/sql/8.2.2.sql
Labels: QA ✔️

#1362 Update Some wording prior release of 7.1
  classes/Services/DistributionApiService.php
  classes/Task/Runner/ChainedTasks.php
  tests/unit/Services/PhpVersionResolverServiceTest.php
Labels: bug, waiting for QA

#1365 Fix URL of redirection after deletion of last backup
  classes/Router/UrlGenerator.php
  tests/unit/Router/UrlGeneratorTest.php
Labels: bug, QA ✔️

#1364 Add hook displayCartExtraProductInfo in autoupgrade
  upgrade/sql/8.2.2.sql
Labels: QA ✔️, new feature

#1374 Add missing hooks for PS v8.2.2 and v9.0.0
  upgrade/sql/9.0.0-catchup.sql
  upgrade/sql/9.0.0.sql
Labels: bug, QA ✔️

#1379 [FIX] Ignore custom languages during update of languages
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
Labels: bug, QA ✔️
