Repository PrestaShop/autoupgrade, pull requests merged in 2025-03, with the labels that each got.

#1214 Update README.md
  README.md
Labels: waiting for QA

#1208 [DOC] Update README for v7
  .github/workflows/scss-tests.yml
  README.md
Labels: waiting for QA

#1211 [NEW UI] Storybook check
  storybook/.storybook/main.ts
  storybook/.storybook/preview.ts
  storybook/.storybook/theme.ts
  storybook/stories/components/Alert.stories.js
  storybook/stories/components/BackupSelection.stories.js
  storybook/stories/components/CheckRequirements.stories.js
  storybook/stories/components/DialogBackup.stories.js
  storybook/stories/components/DialogBackupDelete.stories.js
  storybook/stories/components/DialogErrorReport.stories.js
  storybook/stories/components/DialogRestoreFromBackup.stories.js
  storybook/stories/components/DialogTemperedFiles.stories.js
  storybook/stories/components/DialogUpdate.stories.js
  storybook/stories/components/LocalArchive.stories.js
  storybook/stories/components/LogsProgress.stories.js
  storybook/stories/components/LogsTemplates.stories.js
  storybook/stories/components/LogsViewer.stories.js
  storybook/stories/components/Privacy.stories.js
  storybook/stories/components/RadioCard.stories.js
  storybook/stories/components/RadioCardLocal.stories.js
  storybook/stories/components/RadioCardOnline.stories.js
  storybook/stories/components/RenderBackUpSelection.stories.js
  storybook/stories/components/RenderSelect.stories.js
  storybook/stories/components/RenderSwitch.stories.js
  storybook/stories/components/Stepper.stories.js
  storybook/stories/pages/Backup.stories.js
  storybook/stories/pages/BackupSelection.stories.js
  storybook/stories/pages/Error404.stories.js
  storybook/stories/pages/Home.stories.js
  storybook/stories/pages/PostRestore.stories.js
  storybook/stories/pages/PostUpdate.stories.js
  storybook/stories/pages/Restore.stories.js
  storybook/stories/pages/TemplatedErrors.stories.js
  storybook/stories/pages/Update.stories.js
  storybook/stories/pages/UpdateOptions.stories.js
  storybook/stories/pages/VersionChoice.stories.js
  views/templates/dialogs/dialog-error-report.html.twig
Labels: QA ✔️

#1223 Remove old check preventing PrestaShop 8.2.1+ to be installed
  autoupgrade.php
Labels: bug

#1221 [NEW UI] add segment on frontend
  _dev/global.d.ts
  _dev/package-lock.json
  _dev/package.json
  _dev/src/ts/api/SegmentApi.ts
  _dev/tests/fakeWindow.ts
  classes/Analytics.php
  classes/UpgradeContainer.php
  controllers/admin/AdminSelfUpgradeController.php
  tests/unit/AnalyticsTest.php
Labels: enhancement, waiting for QA

#1215 Update back events
  classes/Backup/BackupManager.php
  classes/Commands/AbstractBackupCommand.php
  classes/Task/Backup/BackupInitialization.php
  classes/Task/Update/Unzip.php
  classes/UpgradeContainer.php
  tests/unit/Backup/BackupManagerTest.php
Labels: enhancement

#1216 Remove unused analytics properties
  classes/Analytics.php
  classes/Parameters/UpgradeConfiguration.php
  tests/unit/AnalyticsTest.php
Labels: enhancement

#1225 Pick up & display details if possible when an error occurs during a process
  _dev/src/ts/api/axiosError.ts
Labels: enhancement, QA by dev ✔️

#1227 Add error code and type in error page dataset
  _dev/src/ts/components/ErrorPageBuilder.ts
  _dev/src/ts/pages/ErrorPage.ts
  _dev/tests/components/ErrorPageBuilder.test.ts
  views/templates/layouts/error.html.twig
Labels: enhancement, QA by dev ✔️

#1212 [CLI] Add "unknown configuration" log
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: enhancement, QA by dev ✔️

#1229 Fix redirection after the last backup deletion
  classes/Router/Router.php
Labels: bug, QA by dev ✔️

#1155 Do not overwrite configuration
  upgrade/php/add_configuration_if_not_exists.php
  upgrade/sql/1.7.7.0.sql
  upgrade/sql/1.7.8.0.sql
  upgrade/sql/8.0.0.sql
  upgrade/sql/8.1.0.sql
  upgrade/sql/9.0.0.sql
Labels: enhancement, QA ✔️

#1213 Catch all potential issues of core init during a process startup
  classes/Task/Runner/ChainedTasks.php
Labels: bug, QA by dev ✔️

#1233 Fix enabling of the next button with some PHP versions
  views/templates/components/radio-card.html.twig
Labels: bug, QA ✔️

#1230 [NEW UI] Add segment events tracking
  _dev/src/ts/api/SegmentApi.ts
  _dev/src/ts/components/DialogContainer.ts
  _dev/src/ts/components/ErrorPageBuilder.ts
  _dev/src/ts/dialogs/StartBackupDialog.ts
  _dev/src/ts/main.ts
  _dev/src/ts/pages/ErrorPage.ts
  _dev/src/ts/pages/HomePage.ts
  _dev/src/ts/pages/RestorePageRestore.ts
  _dev/src/ts/pages/UpdatePageBackup.ts
  _dev/src/ts/pages/UpdatePagePostUpdate.ts
  _dev/src/ts/pages/UpdatePageUpdate.ts
  _dev/src/ts/pages/UpdatePageUpdateOptions.ts
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/components/ErrorPageBuilder.test.ts
  _dev/tests/routing/ScriptHandler.test.ts
  _dev/tests/utils/Hydration.test.ts
  _dev/vite.config.ts
  classes/Services/LogsService.php
  classes/Twig/Events.php
  controllers/admin/AdminSelfUpgradeController.php
  controllers/admin/self-managed/UpdatePageBackupOptionsController.php
  storybook/stories/pages/Error404.stories.js
  storybook/stories/pages/TemplatedErrors.stories.js
  views/templates/components/alert-action-form.html.twig
  views/templates/components/alert-action-link.html.twig
  views/templates/components/download_logs.html.twig
  views/templates/components/privacy.html.twig
  views/templates/layouts/error.html.twig
  views/templates/steps/backup-options.html.twig
  views/templates/steps/post-restore.html.twig
  views/templates/steps/post-update.html.twig
Labels: enhancement, QA ✔️

#1240 Fix Unknown configuration key
  classes/Task/Miscellaneous/UpdateConfig.php
Labels: bug, QA ✔️

#1241 [SQL scripts] Add verification for states and delete update query configuration
  upgrade/php/ps_1770_add_states.php
  upgrade/sql/1.7.1.0.sql
  upgrade/sql/8.0.0.sql
Labels: bug, QA ✔️

#1247 [NEW UI] Storybook fix
  storybook/.storybook/main.ts
Labels: bug, QA by dev ✔️

#1246 Design review fix
  classes/UpgradeSelfCheck.php
  controllers/admin/self-managed/AbstractPageController.php
  storybook/stories/components/RadioCard.stories.js
  views/templates/components/radio-card-online.html.twig
  views/templates/steps/home.html.twig
Labels: QA ✔️

#1248 Remove use of uneeded GLOB_BRACE constant
  classes/UpgradeTools/Module/ModuleMigration.php
Labels: bug, QA by dev ✔️

#1242 Allow use of flexible directory separator
  bin/console
  classes/UpgradeTools/FilesystemAdapter.php
Labels: bug, QA by dev ✔️

#1250 Update module description and name
  _dev/package.json
  autoupgrade.php
  config.xml
Labels: QA ✔️

#1249 Add new requirement for development version
  classes/UpgradeSelfCheck.php
Labels: enhancement, waiting for QA

#1252 Add string size limit for logs
  _dev/src/ts/appUI/utils/logsUtils.ts
Labels: bug, waiting for QA

#1253 Move deletion of files BEFORE unzipping backup
  classes/Task/Restore/RestoreFiles.php
Labels: bug, waiting for QA

#1256 Fetch the stepper on each update
  _dev/src/ts/appUI/utils/Stepper.ts
  _dev/tests/utils/Stepper.test.ts
Labels: bug, waiting for QA

#1257 Removed core call when retrieving timezone for restore process
  classes/Task/Runner/ChainedTasks.php
Labels: bug

#1258 Avoid images to be deleted during a restore
  classes/UpgradeTools/FileFilter.php
  tests/unit/UpgradeContainer/FilesystemAdapterTest.php
Labels: bug, waiting for QA

#1271 Update list of branches in the Read-me
  README.md
Labels: enhancement, waiting for QA

#1273 [FIX] error 500 on backup choice
  controllers/admin/self-managed/RestorePageBackupSelectionController.php
Labels: bug, QA by dev ✔️

#1262 Update date format on backup
  classes/Backup/BackupFinder.php
  composer.json
  tests/unit/Backup/BackupFinderTest.php
Labels: bug, QA by dev ✔️

#1277 Remove intl from the PHP requirements in Composer as it is checked on runtime
  composer.json
Labels: bug, QA ✔️
