Repository PrestaShop/autoupgrade, pull requests merged in 2025-01, with the labels that each got.

#1102 [DOC] Add configuration parameters section in readme
  README.md
Labels: QA by dev ✔️

#1103 [LOG] Improve logs wording, add classname in log files
  classes/Commands/AbstractBackupCommand.php
  classes/Commands/AbstractCommand.php
  classes/Commands/CheckRequirementsCommand.php
  classes/Log/Logger.php
  classes/Task/Backup/BackupFiles.php
  classes/Task/Miscellaneous/UpdateConfig.php
  classes/Task/Restore/RestoreDatabase.php
  classes/Task/Restore/RestoreFiles.php
  classes/Task/Runner/AllUpdateTasks.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateDatabase.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateInitialization.php
  classes/Task/Update/UpdateModules.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/Module/ModuleMigration.php
  classes/UpgradeTools/Translation.php
  tests/unit/Log/LoggerTest.php
  tests/unit/Log/Mock/NullLogger.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
Labels: QA by dev ✔️

#1101 [NEW UI] Post restore page
  _dev/src/ts/pages/RestorePagePostRestore.ts
  _dev/src/ts/routing/ScriptHandler.ts
  classes/DocumentationLinks.php
  classes/Router/Router.php
  controllers/admin/self-managed/RestorePagePostRestoreController.php
  views/templates/steps/post-restore.html.twig
Labels: enhancement, QA by dev ✔️

#1105 [NEW UI] use config for restore state
  classes/Commands/RestoreCommand.php
  classes/Progress/CompletionCalculator.php
  classes/State/AbstractState.php
  classes/State/RestoreState.php
  classes/Task/Restore/RestoreDatabase.php
  classes/Task/Restore/RestoreInitialization.php
  classes/Task/Runner/AllRestoreTasks.php
  classes/Task/Runner/ChainedTasks.php
  classes/Task/TaskName.php
  classes/UpgradeTools/TaskRepository.php
  tests/unit/UpgradeContainerTest.php
Labels: enhancement, QA by dev ✔️

#1104 Bump to v7.0.0
  autoupgrade.php
  config.xml
Labels: QA ✔️

#1111 Refactor: uniform class instantiations
  classes/UpgradeContainer.php
Labels: enhancement

#1112 [NEW UI] Update send error message dialog
  _dev/src/ts/dialogs/SendErrorReportDialog.ts
  views/templates/dialogs/dialog-error-report.html.twig
Labels: enhancement, QA by dev ✔️

#1115 Fix translator path in autoupgrade.php
  autoupgrade.php
Labels: QA by dev ✔️

#1118 [NEW UI] Fix management of unload scripts
  _dev/src/ts/components/DialogContainer.ts
  _dev/src/ts/routing/ScriptHandler.ts
  _dev/src/ts/types/scriptHandlerTypes.ts
  _dev/src/ts/utils/Hydration.ts
  _dev/tests/routing/ScriptHandler.test.ts
  _dev/tests/utils/Hydration.test.ts
Labels: bug, QA by dev ✔️

#1110 [NEW UI] Restore page
  _dev/src/ts/pages/RestorePageRestore.ts
  controllers/admin/self-managed/RestorePageRestoreController.php
  views/templates/steps/restore.html.twig
Labels: enhancement, QA ✔️

#1098 Improve archive download
  classes/Services/DownloadService.php
  classes/Task/Update/Download.php
  classes/Task/Update/UpdateModules.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/Module/ModuleDownloader.php
  classes/Upgrader.php
  tests/unit/UpgradeTools/Module/ModuleDownloaderTest.php
Labels: QA by dev ✔️

#1123 [NEW-UI] Fix log regex
  _dev/src/ts/utils/logsUtils.ts
  _dev/tests/utils/logsUtils.test.ts
Labels: bug, QA by dev ✔️

#1122 Close the form tag
  views/templates/components/dialog.html.twig
  views/templates/dialogs/dialog-update.html.twig
Labels: bug, QA by dev ✔️

#1113 [NEW UI] Improve errors page and fix logs height
  .gitignore
  _dev/img/404.svg
  _dev/img/500.svg
  _dev/package-lock.json
  _dev/package.json
  _dev/src/fonts/Prestafont-Regular.woff
  _dev/src/scss/_fonts.scss
  _dev/src/scss/_variables.scss
  _dev/src/scss/layouts/_error.scss
  _dev/src/scss/layouts/_logs-pages.scss
  _dev/vite.config.ts
  views/templates/layouts/error.html.twig
  views/templates/pages/errors/404.html.twig
  views/templates/pages/errors/500.html.twig
Labels: QA by dev ✔️

#1121 Add new sentry tags
  _dev/global.d.ts
  _dev/jest.setup.ts
  _dev/src/ts/api/sentryApi.ts
  classes/Analytics.php
  controllers/admin/AdminSelfUpgradeController.php
Labels: QA ✔️

#1125 Remove logs tags
  classes/ErrorHandler.php
  classes/Task/Update/UpdateDatabase.php
  classes/Task/Update/UpdateModules.php
  classes/UpgradePage.php
  classes/UpgradeTools/CacheCleaner.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/Module/ModuleAdapter.php
  classes/UpgradeTools/Module/ModuleMigration.php
  tests/unit/ErrorHandlerTest.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
Labels: QA ✔️

#1119 [NEW UI] clean old UI
  classes/Commands/AbstractCommand.php
  classes/Task/Miscellaneous/CompareReleases.php
  classes/Task/Runner/ChainedTasks.php
  classes/Task/TaskName.php
  classes/Twig/Block/RollbackForm.php
  classes/Twig/Block/UpgradeButtonBlock.php
  classes/Twig/Block/UpgradeChecklist.php
  classes/Twig/Block/index.php
  classes/Twig/Form/BackupOptionsForm.php
  classes/Twig/Form/FormRenderer.php
  classes/Twig/Form/UpgradeOptionsForm.php
  classes/Twig/Form/index.php
  classes/UpgradeContainer.php
  classes/UpgradePage.php
  classes/UpgradeTools/TaskRepository.php
  classes/Workspace.php
  controllers/admin/AdminSelfUpgradeController.php
  css/index.php
  css/styles.css
  js/dashboard.js
  js/index.php
  js/jquery-1.6.2.min.js
  js/jquery.xml2json.js
  js/sentry-8.2.1.min.js
  js/sentry.js
  js/upgrade.js
  upgrade/legacy-to-standard-locales.json
  views/templates/block/activityLog.html.twig
  views/templates/block/checklist.html.twig
  views/templates/block/footer.html.twig
  views/templates/block/index.php
  views/templates/block/postRestoreChecklistBlock.html.twig
  views/templates/block/postUpdateChecklistBlock.html.twig
  views/templates/block/rollbackForm.html.twig
  views/templates/block/upgradeButtonBlock.html.twig
  views/templates/block/versionComparison.html.twig
  views/templates/macros/form-fields.html.twig
  views/templates/macros/icons.html.twig
  views/templates/macros/index.php
  views/templates/main.html.twig
Labels: enhancement, QA ✔️

#1130 [NEW UI] clean old error web logger
  _dev/src/ts/components/ProgressTracker.ts
  classes/AjaxResponse.php
  classes/ErrorHandler.php
  classes/Log/Logger.php
  classes/Log/WebLogger.php
  tests/unit/ErrorHandlerTest.php
  tests/unit/Log/WebLoggerTest.php
Labels: enhancement, QA by dev ✔️

#1131 [NEW UI] fix logs height issue
  _dev/src/scss/layouts/_logs-pages.scss
Labels: QA by dev ✔️

#1127 [NEW UI] before destroy logs viewer
  _dev/src/ts/components/LogsViewer.ts
  _dev/src/ts/utils/logsUtils.ts
Labels: bug, QA ✔️

#1139 [FIX] Issue: is not possible to go online then we have local archive
  _dev/src/ts/api/RequestHandler.ts
  _dev/src/ts/pages/UpdatePageVersionChoice.ts
  views/templates/components/local-archive.html.twig
Labels: bug, QA ✔️

#1136 [NEW UI] add middleware system and first middleware on update options page
  _dev/src/ts/routing/RouteHandler.ts
  classes/Router/MiddlewareHandler.php
  classes/Router/Middlewares/AbstractMiddleware.php
  classes/Router/Middlewares/LocalChannelXmlAndZipExist.php
  classes/Router/Middlewares/UpdateIsConfigured.php
  classes/Router/Router.php
  classes/Router/RoutesConfig.php
  classes/Router/UrlGenerator.php
  controllers/admin/self-managed/AbstractGlobalController.php
  tests/unit/Controller/AbstractGlobalControllerTest.php
  tests/unit/Router/MiddlewareHandlerTest.php
Labels: enhancement, QA ✔️

#1109 Refactor Codebase to Use Symfony Filesystem Instead of Native PHP Functions
  classes/Parameters/FileStorage.php
  classes/PrestashopConfiguration.php
  classes/Services/ComposerService.php
  classes/Services/PrestashopVersionService.php
  classes/Task/Backup/BackupDatabase.php
  classes/Task/Backup/BackupFiles.php
  classes/Task/Restore/RestoreDatabase.php
  classes/Task/Restore/RestoreFiles.php
  classes/Task/Restore/RestoreInitialization.php
  classes/Task/Update/Download.php
  classes/Task/Update/Unzip.php
  classes/Task/Update/UpdateComplete.php
  classes/Task/Update/UpdateFiles.php
  classes/Task/Update/UpdateModules.php
  classes/Tools14.php
  classes/UpgradeContainer.php
  classes/UpgradeTools/CacheCleaner.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
  classes/UpgradeTools/FilesystemAdapter.php
  classes/UpgradeTools/Module/ModuleMigration.php
  classes/UpgradeTools/Translation.php
  classes/Upgrader.php
  classes/Workspace.php
  classes/Xml/FileLoader.php
  classes/ZipAction.php
  tests/unit/AnalyticsTest.php
  tests/unit/PrestashopConfiguration/PrestaShopConfigurationTest.php
  tests/unit/Services/PhpVersionResolverServiceTest.php
  tests/unit/Services/PrestashopVersionServiceTest.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
  tests/unit/UpgradeTools/Module/Source/Provider/ComposerSourceProviderTest.php
Labels: QA ✔️

#1137 [LOG] Update some warnings wording
  classes/Task/Update/UpdateModules.php
  classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
  classes/UpgradeTools/Module/ModuleMigration.php
  tests/unit/UpgradeTools/Module/ModuleMigrationTest.php
Labels: QA by dev ✔️

#1140 [MIDDLEWARE] Page update backup
  classes/Router/Middlewares/AbstractMiddleware.php
  classes/Router/Middlewares/LocalChannelXmlAndZipAreValid.php
  classes/Router/RoutesConfig.php
Labels: enhancement, QA ✔️
